<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-fluid col-md-12">
         <div class="search-container">

            <div class="search-example">
               <h3>Normal search:</h3>
               <st-search [placeholder]="placeholder" [qaTag]="qaTag" [value]="searched" [debounce]="debounceTime" [minLength]="minLength"
                  (search)="onSearchResult($event)"></st-search>
            </div>

            <div class="search-example">
               <h3>With clear button:</h3>
               <st-search [placeholder]="placeholder" [qaTag]="qaTag" [value]="searched" [debounce]="debounceTime" [minLength]="minLength"
                  (search)="onSearchResult($event)" [hasClearButton]="true"></st-search>
            </div>

            <div class="search-example">
               <h3>Live Search false:</h3>
               <st-search [placeholder]="placeholder" [qaTag]="qaTag" [value]="searched" [debounce]="debounceTime" [minLength]="minLength"
                  (search)="onSearchResult($event)" [liveSearch]="false"></st-search>
            </div>

            <div class="search-example">
               <h3>Disabled:</h3>
               <st-search placeholder="Text for search with clear button" [value]="searched" [qaTag]="qaTag" [debounce]="debounceTime" hasClearButton="true"
                  [minLength]="minLength" (onSearch)="onSearchResult($event)"></st-search>
            </div>

         </div>
         <div class="option"><span class="option-title">Search value: </span> <span class="option-value">{{searched}}</span></div>
         <div class="option"><span class="option-title">debounce: </span> <input type="number" [(ngModel)]="debounceTime" min="0" class="debounceTime"></div>
         <div class="option"><span class="option-title">minLength:  </span> <input type="number" [(ngModel)]="minLength" min="0" class="debounceTime"></div>
      </section>

   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code class="col-sm-12" file="search/example-code/search.html.txt"></st-load-code>
   </div>
</st-api-doc>
