@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';

$st-footer---width: 100% !default;
$st-footer---height: 129px !default;
$st-footer---background-color: egeo-get-color(a1) !default;
$st-footer---background-color-gr-1: egeo-get-color(a2) !default;
$st-footer---background-color-gr-2: egeo-get-color(a2_dark) !default;
$st-footer---padding: 25px 30px !default;

$st-footer__text---color: egeo-get-color(n0) !default;
$st-footer__text---font-family: egeo-get-font-family('open-sans') !default;
$st-footer__text---font-size: egeo-get-font-size('body_xsmall') !default;

$st-footer__separator---margin: 0 5px;

$st-footer__logo---margin: 0;

.st-footer {
  width: $st-footer---width;
  height: $st-footer---height;
  padding: $st-footer---padding;
  background-color: $st-footer---background-color;
  background: -webkit-linear-gradient($st-footer---background-color-gr-1, $st-footer---background-color-gr-2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($st-footer---background-color-gr-1, $st-footer---background-color-gr-2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($st-footer---background-color-gr-1, $st-footer---background-color-gr-2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($st-footer---background-color-gr-1, $st-footer---background-color-gr-2); /* Standard syntax */
  &__text{
    color: $st-footer__text---color;
    font-family: $st-footer__text---font-family;
    font-size: $st-footer__text---font-size;
    margin-bottom: 10px;
  }
  &__separator{
    margin: $st-footer__separator---margin;
  }
  &__clickable{
    cursor: pointer;
  }
  &__logo{
    width: 100px;
    height: auto;
    margin: $st-footer__logo---margin;
  }
}
