$egeo-layers: (
	back: -10,
	sub-2: -2,
	sub-1: -1,
	base: 0,
	top-1: 1,
	top-2: 2,
	top-3: 3,
	ontop: 10
) !default;

@function egeo-get-layer($layer: base) {
	$result: 0;

	@if global-variable-exists(egeo-layers) {
		@if type-of($egeo-layers) == 'map' {
			@if map-has-key($egeo-layers, $layer) {
				$result: map-get($egeo-layers, $layer);
			} @else {
				@if function-exists(egeo-log) {
					@if egeo-log('@egeo-get-layer::The layer #{layer} not exist in $egeo-layers.', $egeo-log-warn) {}
				}
			}
		} @else {
			@if function-exists(egeo-log) {
				@if egeo-log('@egeo-get-layer::The variable $egeo-layers is not a map.', $egeo-log-warn) {}
			}
		}
	} @else {
		@if function-exists(egeo-log) {
			@if egeo-log('@egeo-get-layer::The Sass map $egeo-layers is not defined.', $egeo-log-warn) {}
		}
	}

	@return $result;
}
