$egeo-log-debug: 'debug';
$egeo-log-warn: 'warn';
$egeo-log-error: 'error';

@function egeo-log($message, $type: $egeo-log-debug) {
	@if $type == $egeo-log-debug {
		@debug $message;
	} @else if $type == $egeo-log-warn {
		@warn $message;
	} @else if $type == $egeo-log-error {
		@if feature-exists('at-error') == true {
			@error $message;
		} @else {
			@warn $message;

			// Because functions cannot be called anywhere in Sass,
			// we need to hack the call in a dummy condition.
			@if noop() {}
		}
	} @else {
		@warn 'The type #{type} not exist in the log library.';
	}

	@return true;
}

@mixin egeo-log($message, $type: $egeo-log-debug) {
  // Because functions cannot be called anywhere in Sass,
  // we need to hack the call in a dummy condition.
  // There are other ways to do this, such as `log: log(..)`.
  @if egeo-log($message, $type) {}
}
