@import '../../../styles/require';

 $st-user-menu---margin-left:40px;
 $st-user-menu-info-right---padding:2px 10px;
 $st-user-menu-info-right---font-size: 0.75rem;

 $menu-list---background-color: #fff;
 $menu-list---width: 200px;

 $user__text---font-weight: egeo-get-font-weight('normal') !default;
 $user__text---font-weight: 400;

 $blue: get-color(a1) !default;

$ico-text-element--regular-hover---color:get-color(n0) !default;
$ico-text-element--regular-hover2---color:get-color(n4) !default;
$ico-text-element--regular-focus---color:get-color(n0) !default;

$st-header__user-info---font-weight:600 !default;
$st-header__user-info---font-size: egeo-get-font-size(head_mini) !default;

$ico-text-element__text---font-family: 'ico_stratio' !default;
$ico-text-element__text---margin-left: 5px !default;
$st-font-family---brandon:  egeo-get-font(brandon-grotesque) !default;

.st-user-menu {
  margin-left: $st-user-menu---margin-left;
  font-family: $st-font-family---brandon;
  overflow: hidden;

  & .ico-text-element {
    @include egeo-c-button-modifier('bold',
            (background: none, margin:0px, font-weight:$st-header__user-info---font-weight, font-size:$st-header__user-info---font-size, color: $ico-text-element--regular-hover---color), // Sass map that includes the styles to be placed in the modifier
            (background: none, margin:0px, font-weight:$st-header__user-info---font-weight, font-size:$st-header__user-info---font-size, color: $ico-text-element--regular-hover2---color), // Sass map that includes the styles to be placed in the modifier on hover
            (background: none, margin:0px, font-weight:$st-header__user-info---font-weight, font-size:$st-header__user-info---font-size, color: $ico-text-element--regular-focus---color)  // Sass map that includes the styles to be placed in the modifier on focus
    );
    transition: $transition-all-ease;
  }

  & .ico-text-element{
    &__icon{
        font-family: $ico-text-element__text---font-family;
    }
    &__text{
        margin-left: $ico-text-element__text---margin-left;
    }
    cursor:pointer;
  }

  &-left {
    float:left;
  }

  &-right {
    float:left;
    padding: $st-user-menu-info-right---padding;
    font-size: $st-user-menu-info-right---font-size;
  }

  &:hover {
    margin-left: $st-user-menu---margin-left;
  }

  .user__text {
    @extend .ico-text-element__text;
    font-family: $st-font-family---open-sans;
    font-weight: $user__text---font-weight;
  }
}


.menu-list {
  background-color: $menu-list---background-color;
  width: $menu-list---width;
  box-shadow:
    0px 0px 3px rgba(#000, 0.15),
    0px 0px 1px rgba(#000, 0.3),
    0px 3px 2px -1px rgba(#000, 0.1);

  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;

  &.active {
    opacity: 1;
  }

  .menu-element {
    font-size: 16px;
    cursor: pointer;

    &__element{
      padding: 0px 15px;
      color: #a4a4a4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: block;

      &:hover{
				background: get-color(n2);
				color: $blue;
			}
    }
  }
}

.direction{
  height: 8px;
  width: 8px;
  position: absolute;
  z-index: 100;
  right: 115px;
  margin-top: -4px;
  transform: rotate(-45deg);
    box-shadow: 1px -1px 2px -1px rgba(#000, 0.4);
    background: #fff;
}
