<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-liquid">
         <div class="col-sm-4 contains-tooltip">
            <h3>Label with icon (Showing on click)</h3>
            <st-tooltip text="Ports 5666, 9042 and 9160 must be accessible from the Stratio Admin." [showOnClick]="true" [qaTag]="qaTag + '-example1-contextual-help'">
               <span>Port</span>
               <span class="icon-help2"></span>
            </st-tooltip>
         </div>
         <div class="col-sm-4 contains-tooltip">
            <h3>Icon (Showing on hover)</h3>
            <st-tooltip text="This is the tooltip activated on hover" [showOnClick]="false" [qaTag]="qaTag + '-example2-contextual-help'">
               <span class="icon-help1"></span>
            </st-tooltip>
         </div>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="tooltip/example-code/tooltip.ts.txt"></st-load-code>
      <st-load-code file="tooltip/example-code/tooltip.html.txt"></st-load-code>
   </div>
</st-api-doc>
