.div-example{
   width: 300px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   border: #999;
   background: #e7e7e7;
   color: #999;
}

.contains-tooltip{
   border: 1px solid #f1f1f1;
   margin-bottom: 20px;
   padding-bottom: 20px;
}
