@import '../../../node_modules/@stratio/egeo-ui-base/utils/colors';

.list-selection {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   display: block;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.title {
   width: 100%;
   margin: 10px 0 10px 0;
   padding: 0;
   font-weight: 700;
}

.list {
   list-style: none;
   padding: 0;
   width: 100%;
   height: 80%;
   overflow: auto;
}

virtual-scroll {
   display: block;
   width: 100%;
   height: 100%;
}
