#################
## Misc
#################
**/.DS_Store
node_modules
*.log
node
coverage
target
.sass-cache
dll/
compiled/

#################
## Project
#################
temp
dist
projects/egeo-demo/src/assets/source-code

#################
## IDEs
#################
.idea
.project
.settings
.vscode
.history

############
## Windows
############
Thumbs.db
Desktop.ini

############
## Mac
############
.DS_Store

yarn.lock
package-lock.json
