#################
## Misc
#################
**/.DS_Store
node_modules
*.log
node
coverage
target
.sass-cache

#################
## Project
#################
temp
lib
dist

#################
## IDEs
#################
.idea
.project
.settings
.vscode
.history

############
## Windows
############
Thumbs.db
Desktop.ini

############
## Mac
############
.DS_Store
