#################
## Misc
#################
**/.DS_Store
node_modules
*.log
node
coverage
target
.sass-cache

#################
## Project
#################
.github
scripts
test
src
web
temp
dist/bundles
dist/packages

.editorconfig
.gitignore
.htmlhintrc
.npmrc
.sass-lint.yml
gulpfile.js
Jenkinsfile
karma.conf.js
pom.xml
tslint.json
yarn.lock

#################
## IDEs
#################
.idea
.project
.settings
.vscode

############
## Windows
############
Thumbs.db
Desktop.ini

############
## Mac
############
.DS_Store
