<st-api-doc [doc]="apiDoc">
   <div class="example-model">
      <st-load-code file="regexp/example-code/regexp.model.ts.txt"></st-load-code>
   </div>
   <div class="example-run">
      <section class="container-liquid">
         <form #myForm="ngForm" class="form-group" novalidate>
            <div class="row">
               <div class="form-group col-md-4">
                  <st-input label="Email" [placeholder]="emailPlaceholder" [(ngModel)]="model.email" [pattern]="emailRegExp" [forceValidations]="forceValidations"
                     [errors]="errors" name="email" style="margin-bottom: 20px; display: inline-block"></st-input>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <button type="submit" class="btn btn-default" (click)="checkValidations()">Submit</button>
               </div>
            </div>
         </form>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="regexp/example-code/regexp.ts.txt"></st-load-code>
      <st-load-code file="regexp/example-code/regexp.html.txt"></st-load-code>
   </div>
</st-api-doc>
