$c-html: $c-print !default;
$body---margin: 0 !default;
$font: egeo-get-font(open-sans) !default;
$font-size: egeo-get-font-size(body_xlarge) !default;

@if $c-html {
   html {
      font-size: $html---base-font-size;
   }

   body {
      font-family: $font;
      font-size: $font-size;
      line-height: 1.5;
      margin: $body---margin;
      overflow-x: hidden;
   }
}
