<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-fluid col-md-12">
         <h3>Title without left button</h3>
         <st-page-title [title]="title">
            <div class="box-right">
               <span class="box-content">Box with content</span>
            </div>
            <button>Button</button>
         </st-page-title>
      </section>

      <section class="container-fluid col-md-12">
         <h3>Title with back button</h3>
         <st-page-title leftButton="icon-reply" [title]="title">
            <div class="box-right">
               <span class="box-content">Box with content</span>
            </div>
            <button>Button</button>
         </st-page-title>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code class="col-sm-12" file="page-title/example-code/page-title.ts.txt"></st-load-code>
      <st-load-code class="col-sm-12" file="page-title/example-code/page-title.html.txt"></st-load-code>
   </div>
</st-api-doc>
