<div class="gosec-search">
   <div class="gosec-search__filterby">
      <select [ngModel]="search.searchBy" (ngModelChange)="changeSelect($event)" class="gosec-search__select">
        <option *ngFor="let element of searchElements" [value]="element.id">{{searchType }} {{ element.label }}</option>
      </select>
   </div>
   <div class="gosec-search__filtercriteria">
      <input class="gosec-search__input" [ngModel]="search.searchText" (ngModelChange)="changeText($event)"
                    type="text" placeholder="{{ 'SEARCH.LABEL' }}">
      <span class="icon-search gosec-search__icon"></span>
   </div>
</div>
