@import '../helpers/gosec-extends';
@import '../helpers/gosec-fixes';
@import '../helpers/gosec-generic';
@import '../helpers/gosec-settings';

$gosec-search---font-size: egeo-get-font-size('head_xxxsmall') !default;
$gosec-search---height: 30px !default;

$gosec-search__filterby---margin: 0 5px 0 0 !default;

$gosec-search___select---background-color: egeo-get-color(n2) !default;
$gosec-search___select---color: #777389 !default;
$gosec-search___select---padding: 0 5px !default;

$gosec-search___input---width: 180px !default;
$gosec-search___input---background-color: egeo-get-color(n1) !default;
$gosec-search___input---color: #777389 !default;
$gosec-search___input---padding: 0 35px 0 10px !default;
$gosec-search___input-placeholder---color: #D1CCCE !default;

$gosec-search___filtercriteria---margin: 0 5px 0 0 !default;

$gosec-search___icon---right: 10px !default;
$gosec-search___icon---top: 5px !default;
$gosec-search___icon---font-size: egeo-get-font-size(icon_small) !default;
$gosec-search___icon---color: #777389 !default;

.gosec-search{
  font-size: $gosec-search---font-size;
  height: $gosec-search---height;
  line-height: $gosec-search---height;
  &__filterby{
    float:left;
    margin: $gosec-search__filterby---margin;
  }
  &__select {
    height: $gosec-search---height;
    border: none;
    background-color: $gosec-search___select---background-color;
    color: $gosec-search___select---color;
    padding: $gosec-search___select---padding;
  }
  &__input {
    height: $gosec-search---height;
    width: $gosec-search___input---width;
    border: none;
    background-color: $gosec-search___input---background-color;
    color: $gosec-search___input---color;
    padding: $gosec-search___input---padding;
    &:placeholder{
      color: $gosec-search___input-placeholder---color;
    }
  }
  &__filtercriteria{
    float:left;
    margin: $gosec-search___filtercriteria---margin;
    position: relative;
  }
  &__icon{
    position: absolute;
    right: $gosec-search___icon---right;
    top: $gosec-search___icon---top;
    font-size: $gosec-search___icon---font-size;
    color: $gosec-search___icon---color;
  }
}

