@import '../../node_modules/egeo-ui-base/utils/typography';
@import '../../node_modules/egeo-ui-base/utils/colors';

$st-tab-box---font-size: egeo-get-font-size('body_xsmall') !default;
$st-tab-box__description---height: 35px !default;

.st-tab-box {
  width: 100%;
  height: 100%;
  background: egeo-get-color(n1);

  &__tab {
    float: left;
    padding: 15px 0 0 20px;
    height: 40px;
    line-height: 20px;
    font-family: egeo-get-font(heading);
    text-transform: uppercase;
    color: egeo-get-color(n6);
    background: egeo-get-color(n3); /* Old browsers */
    background: -moz-linear-gradient(180deg, rgba(228, 228, 228, 1)0%, rgba(228, 228, 228, 1)74%, rgba(210, 210, 210, 1)100%, rgba(210, 210, 210, 1)100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(180deg, rgba(228, 228, 228, 1)0%, rgba(228, 228, 228, 1)74%, rgba(210, 210, 210, 1)100%, rgba(210, 210, 210, 1)100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg, rgba(228, 228, 228, 1)0%, rgba(228, 228, 228, 1)74%, rgba(210, 210, 210, 1)100%, rgba(210, 210, 210, 1)100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    cursor: pointer;
    font-size: $st-tab-box---font-size;

    &:hover {
      color: egeo-get-color(n0);
      background: egeo-get-color(n7);
      box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    &--active,
    &--active:hover {
      box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: egeo-get-color(n9);
      background: egeo-get-color(n1);
      cursor: default;
    }
  }
  &__content {
    float: left;
    padding: 22px;
  }

  .left-shadow{
    -webkit-box-shadow: 3px -2px 6px 0px rgba(153, 153, 153, 0.0980392156862745)inset;
    -moz-box-shadow: 3px -2px 6px 0px rgba(153, 153, 153, 0.0980392156862745)inset;
    box-shadow: 3px -2px 6px 0px rgba(153, 153, 153, 0.0980392156862745)inset;

  }

  .right-shadow{
    -webkit-box-shadow: -3px -2px 6px 0px rgba(153, 153, 153, 0.0980392156862745)inset;
    -moz-box-shadow: -3px -2px 6px 0px rgba(153, 153, 153, 0.0980392156862745)inset;
    box-shadow: -3px -2px 6px 0px rgba(153, 153, 153, 0.0980392156862745)inset;

  }
}
