@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';
@import '~ui-base/settings/extends';
@import '~ui-base/settings/animation';
@import '~ui-base/utils/colors';


$gosec-list-row__row__separator---color: egeo-get-color(n3) !default;
$gosec-list-row__row---hover-color: egeo-get-color(n9) !default;
$gosec-list-row__row---hover-background-color: rgba(55,181,228,0.1) !default;
$gosec-list-row__row---height: 46px !default;
$gosec-list-row__row---line-height: 45px !default;
$gosec-list-row__row---border-bottom: 1px solid $gosec-list-row__row__separator---color !default;
$gosec-list-row__row---padding-left: 0px !default;
$gosec-list-row__row__ico---right: 30px !default;
$gosec-list-row__row---font-size: egeo-get-font-size(body_small);

$gosec-list-row__text---padding-right: 40px !default;

$gosec-list-row__text--typetext---color: egeo-get-color(n8) !default;
$gosec-list-row__text--typenumber---color: egeo-get-color(a1) !default;
$gosec-list-row__col---padding: 0 5px 0 5px !default;
$gosec-list-circle---size: 30px !default;
$gosec-list-circle---background-color: egeo-get-color(n0);

$gosec-list-row__ico---font-size: 1rem !default;
$gosec-list-row__ico---color: egeo-get-color(n6) !default;
$gosec-list-row__ico---height: 46px !default;
$gosec-list-row__ico---line-height: 10px !default;
$gosec-list-row__ico---top: 15px !default;

$gosec-list-row__sysico---margin-right: 5px !default;

$ico-text-element__text---font-family: 'ico_stratio' !default;

.gosec-list-row{

  & .ico-text-element{
    &__icon{
        font-family: $ico-text-element__text---font-family;
    }
  }

  &__ico {
    position: absolute;
    top: $gosec-list-row__ico---top;
    right: $gosec-list-row__row__ico---right;
    line-height: $gosec-list-row__ico---line-height;
    font-size: $gosec-list-row__ico---font-size;
    color: $gosec-list-row__ico---color;
  }

  &__sysico {
    margin-right: $gosec-list-row__sysico---margin-right;
  }

  &__row-text {
    @extend %text-ellipsis;
    float: left;
    padding-right: $gosec-list-row__text---padding-right;
  }

  &__text--typetext{
    color: $gosec-list-row__text--typetext---color;
  }

  &__text--typenumber{
        color: $gosec-list-row__text--typenumber---color;
        height: $gosec-list-row__row---height;

        & div{
          background-color: $gosec-list-circle---background-color;
          margin-top: ($gosec-list-row__row---height - $gosec-list-circle---size) / 2;
          width: $gosec-list-circle---size;
          height: $gosec-list-circle---size;
          border-radius: $gosec-list-circle---size;
          text-align: center;
          line-height: $gosec-list-circle---size;
        }
  }

  &__row {
    height: $gosec-list-row__row---height;
    line-height: $gosec-list-row__row---line-height;
    border-bottom: $gosec-list-row__row---border-bottom;
    padding-left: $gosec-list-row__row---padding-left;
    position: relative;
    cursor: pointer;
    font-size: $gosec-list-row__row---font-size;

    &:hover{
      background: $gosec-list-row__row---hover-background-color;

      .gosec-list-row__action{
         opacity: 1;
      }
    }
  }

    &__col {
      float: left;
      padding: $gosec-list-row__col---padding;
      height: $gosec-list-row__row---height;

    & .gosec-list-row__text--typetext{
        transition:  $transition-all-ease;
    }

    & .gosec-list-row__ico{
        transition: $transition-all-ease;
    }

    }
}

.gosec-list-row__action{
   font-size: inherit;

   i{
      float:right;
      margin-left: 5px;
      line-height: 0.8;
   }

   &.onHover{
      opacity: 0;
   }

   &.st-action-red{
      color: egeo-get-color("s3");
   }
}

.overflow-points {
   /* essential */
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   cursor:default;
   pointer-events: none;
}

.st-table-positive-cell{
  color: egeo-get-color("s1");
}

.st-table-negative-cell{
  color: egeo-get-color("s2");
}

