@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}

  :focus::-webkit-input-placeholder { color:transparent; }
  :focus:-moz-placeholder           { color:transparent; } /* FF 4-18 */
  :focus::-moz-placeholder          { color:transparent; } /* FF 19+ */
  :focus:-ms-input-placeholder      { color:transparent; } /* IE 10+ */
}

@mixin removeMoz {
  :invalid { box-shadow: none; }
  :-moz-submit-invalid { box-shadow: none; }
  :-moz-ui-invalid { box-shadow:none; }
}

@mixin basicInput {
   font-family: egeo-get-font(open-sans);
   font-weight: egeo-get-font-weight(normal);
   font-size: egeo-get-font-size(body_medium);
}

.remove-default-style {
  outline: none;
  border: none;
  width: 100%;
  &:disabled {
    background: none;
  }
}

.input-container {
   position: relative;
   @include placeholder {
      @include basicInput;
      color: egeo-get-color(n6);
   }
   @include removeMoz;
   input {
      @include basicInput;
      background-color: egeo-get-color(n0);
      color: egeo-get-color(n7);
      border: 1px solid egeo-get-color(n3);
      height: 35px;
      padding-left: 12px;
      padding-right: 40px;
      &:focus {
         border: 1px solid egeo-get-color(n6);
      }
  }
}

.st-search-icon {
   position: absolute;
   right: 10px;
   top: 10px;
   font-size: egeo-get-font-size(icon_small);
   color: egeo-get-color(n6);
}

.input-container input:focus + .st-search-icon {
   color: egeo-get-color(n7);
}
