@charset 'UTF-8';

// Common
$egeo-sanitize: true;
@import 'vendors';

// Common
@import './common';

h1,
h2,
h3,
h4,
h5,
h6 {
   color: egeo-get-color(a1);
}

h1 {
   font-size: 30px;
   font-weight: bold;
   margin-top: 20px;
}

h2 {
   font-size: 25px;
   font-weight: bold;
   margin-top: 15px;
}

h3 {
   font-size: 20px;
   font-weight: bold;
   margin: 15px 0;
}

.docs {
   margin-top: 40px;
}

//Table

table {
   line-height: 25px;
   width: 100%;

   td {
      border: 1px solid egeo-get-color(n4);
      padding: 10px;
   }
}


tr:nth-child(even) {
   background-color: egeo-get-color(b3);
}


button{
   font-size: 15px;
   padding: 0 20px;
   line-height: 35px;
   height: 35px;
   min-width: 150px;
   color: egeo-get-color(n0);
   background-color: egeo-get-color(a1);
   cursor: pointer;
   text-transform: uppercase;
   font-family: egeo-get-font("brandon-grotesque");
}

button:before{
   font-family: egeo-get-font('ico-stratio');
   content: '\e048';
   padding: 2px 6px 0 0;
}

button:hover{
   background-color: egeo-get-color(a1_dark);
   transition: all ease 0.4s;
}
