<section class="container-fluid">
  <div class="page-header">
    <h1>Template-driven Form Example:</h1>
  </div>

  <st-info-card photo="/assets/images/stratio.png" title="Appdecision" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/arangodb.png" title="Arangodb3" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/cassandra.png" title="Cassandra" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/stratio.png" title="Appdecision" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/arangodb.png" title="Arangodb3" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/cassandra.png" title="Cassandra" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/cassandra.png" title="Cassandra" description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/stratio.png" title="Appdecision" description="1.0.1">
  </st-info-card>
</section>

<!--{{code}}-->
<st-load-code file="info-card/info-card.component.ts"></st-load-code>
<st-load-code file="info-card/info-card.component.html"></st-load-code>
