<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <!-- IS REQUIRED THIS CLASS FOR IDENTIFY THE EXAMPLE -->
      <section class="container-fluid col-sm-12">
         <div class="row">
            <st-info-card photo="/assets/images/stratio.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Appdecision" description="1.0.1">
            </st-info-card>

            <st-info-card photo="/assets/images/arangodb.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Arangodb3" description="1.0.1">
            </st-info-card>

            <st-info-card photo="/assets/images/cassandra.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Cassandra" description="1.0.1">
            </st-info-card>

            <st-info-card photo="/assets/images/stratio.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Appdecision" description="1.0.1">
            </st-info-card>

            <st-info-card photo="/assets/images/arangodb.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Arangodb3" description="1.0.1">
            </st-info-card>

            <st-info-card photo="/assets/images/cassandra.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Cassandra" description="1.0.1">
            </st-info-card>

            <st-info-card photo="/assets/images/cassandra.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Cassandra" description="1.0.1">
            </st-info-card>

            <!--Test broken image, stratio logo has to be shown as a default photo-->
            <st-info-card photo="/assets/images/broken_img.png" defaultPhoto="/assets/images/stratio.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2"
               title="Broken photo url" description="1.0.1">
            </st-info-card>
         </div>
      </section>
   </div>
   <div class="example-code">
      <!-- IS REQUIRED THIS CLASS FOR IDENTIFY THE CODE  -->
      <!--{{code}}-->
      <st-load-code class="col-sm-12" file="info-card/example-code/info-card.ts.txt"></st-load-code>
      <st-load-code class="col-sm-12" file="info-card/example-code/info-card.html.txt"></st-load-code>
   </div>
</st-api-doc>
