<section class="container-fluid col-sm-12">
  <st-info-card photo="/assets/images/stratio.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Appdecision"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/arangodb.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Arangodb3"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/cassandra.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Cassandra"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/stratio.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Appdecision"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/arangodb.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Arangodb3"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/cassandra.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Cassandra"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/cassandra.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Cassandra"
                description="1.0.1">
  </st-info-card>

  <st-info-card photo="/assets/images/stratio.png" class="col-md-3 col-sm-4 col-xs-6 col-lg-2" title="Appdecision"
                description="1.0.1">
  </st-info-card>
</section>

<!--{{code}}-->
<st-load-code class ="col-sm-12" file="info-card/example-code/info-card.ts.txt"></st-load-code>
<st-load-code class ="col-sm-12" file="info-card/example-code/info-card.html.txt"></st-load-code>
