<div class="gosec-list">
   <div class="row">
      <div class="col-md-12">
         <gosec-list-header [headerList]="metadata" [order]="order" (onOrderChange)="orderChange($event)"></gosec-list-header>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <gosec-list-body [headerList]="metadata" [data]="data" (openDetail)="showDetail($event)" (clickAction)="clickOnAction($event)"
            [hasDetail]="hasDetail" [detailText]="detailText" [actionClass]="actionClass" [emptyListMessage]="emptyListMessage"></gosec-list-body>
      </div>
   </div>
   <div class="row" [style.margin-top]="calculatePaginationTopPosition()">
      <div class="col-md-12">
         <gosec-pagination [pagination]="pagination" [totalElements]="totalElements" (changePage)="onChangePage($event)"></gosec-pagination>
      </div>
   </div>
</div>