<section>
   <st-button qaTag="showButton" (onClick)="showSelectedElements()" text="SHOW ELEMENTS"></st-button>

   <br>
   <br>

   <div style="width: 80%; height: 500px">
      <st-two-list-selection
         [allElements]="completeUserList"
         [(selectedElements)]="selectedUserList"
         [config]="(config | async)"
         [editable]="true"
         qaTag="container-list">
      </st-two-list-selection>
   </div>
   <br><br><br>
   <h2>Only view element without interaction</h2>
   <br><br>

   <div style="width: 80%; height: 500px">
      <st-two-list-selection-view
         [allElements]="completeUserList"
         [selectedElements]="selectedUserList"
         [config]="(config | async)"
         [editable]="true"
         qaTag="example-two-list"
      ></st-two-list-selection-view>
   </div>

   <br><br><br>
   <h2>Only view element without interaction</h2>
   <br><br>

   <div style="width: 40%; height: 500px">
      <st-two-list-selection-view
         [selectedElements]="selectedUserList"
         [config]="(config | async)"
         [editable]="false"
         qaTag="example-two-list-disable"
      ></st-two-list-selection-view>
   </div>
</section>
