<section class="st-horizontal-tabs">
  <ul class="st-horizontal-tabs__list">
    <li *ngFor="let option of options; let i = index;"
         class="st-horizontal-tabs__option"
         [ngClass]="{'st-horizontal-tabs__option--active': isActive(option), 'st-horizontal-tabs__option--disabled': option.isDisabled}">
      <a class="st-horizontal-tabs__option__text"
         (click)="activateOption(option)"
         [attr.id]="qaTag + '-tab-' + i" href="javascript:void(0)">{{option.text}}</a>
    </li>
  </ul>
</section>
