<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <st-dropdown-menu active="true" [items]="itemsWithParent">
      </st-dropdown-menu>

      <br /><br />


       <st-dropdown-menu active="true" [items]="items">
      </st-dropdown-menu>

      <br /><br />

      <st-dropdown-menu active="true" [items]="itemsWithIcon">
      </st-dropdown-menu>

   </div>
   <div class="example-model">
      <!--{{code}}-->
      <st-load-code file="dropdown-menu/example-code/dropdown-menu.interface.ts.txt"></st-load-code>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="dropdown-menu/example-code/dropdown-menu.component.html.txt"></st-load-code>
   </div>
</st-api-doc>
