<st-api-doc [doc]="apiDoc">
   <div class="example-model">
      <st-load-code file="footer/example-code/footer.model.txt"></st-load-code>
   </div>
   <div class="example-run">
      <section class="container-liquid">
         <div style="margin: 20px 0">
            <st-footer (link)="onLinkChange($event)" [rightsText]="rightsText" [links]="links" qaTag="footer" image="assets/images/logos-stratio/logo_stratio_neg.png">
            </st-footer>
         </div>

         <div style="margin: 20px 0">
            <st-footer rightsText="© Carrefour. All Rights Reserved " [links]="links" qaTag="footer" image="https://www.google.es/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
            </st-footer>
         </div>

      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="footer/example-code/footer.ts.txt"></st-load-code>
      <st-load-code file="footer/example-code/footer.html.txt"></st-load-code>
   </div>
</st-api-doc>
