@import '~egeo-ui-base/utils/typography';
@import '~egeo-ui-base/utils/colors';

$st-toggle-buttons---font-size: egeo-get-font-size('body_xsmall') !default;
$st-toggle-buttons__description---height: 35px !default;

.st-toggle-buttons {

   &__description {
      display: inline-block;
      height: $st-toggle-buttons__description---height;
      line-height: $st-toggle-buttons__description---height;
      font-size: $st-toggle-buttons---font-size;
      padding-right: 10px;
   }
   &__tabs{
      display: inline-block;
   }
   &__tab {
      display: inline-block;
      padding: 11px 14px;
      color: egeo-get-color(n7);
      background: egeo-get-color(n2);
      cursor: pointer;
      font-size: $st-toggle-buttons---font-size;

      &:hover {
         background: egeo-get-color(n3);
      }

      &--active,
      &--active:hover {
         color: egeo-get-color(n0);
         background: egeo-get-color(n6);
         cursor: default;
      }
   }
}
