<st-api-doc [doc]="apiDoc">
   <div class="example-model">
      <st-load-code file="input/example-code/input.model.ts.txt"></st-load-code>
   </div>
   <div class="example-run">
      <section class="container-liquid">
         <div>TEMPLATE DRIVEN EXAMPLE</div>
         <form #templateDrivenForm="ngForm" novalidate autocomplete="off" (ngSubmit)="onSubmitTemplateBased()" class="col-md-3">
            <div class="form-group">
               <st-input
                  #input
                  label="Name"
                  isFocused="true"
                  placeholder="Project name"
                  [forceValidations]="forceValidations"
                  [errors]="errors"
                  name="name"
                  qaTag="name-input"
                  required
                  [minlength]="minLength"
                  [(ngModel)]="model.name"
                  [pattern]="textWithoutSpaces"
                  contextualHelp="This is the contextual help of the name"
               ></st-input>

               <st-input
                  label="Components"
                  placeholder="Number of components"
                  [forceValidations]="forceValidations"
                  [errors]="errors"
                  name="components-template"
                  fieldType="number"
                  qaTag="components-input-template"
                  required
                  [(ngModel)]="model.components"
                  contextualHelp="This is the contextual help of the components"
               ></st-input>
            </div>
            <st-button inputType="submit" text="Submit" qaTag="button-submit" leftIcon="icon-circle-check"></st-button>
            <br><br>
            <div *ngIf="templateDrivenForm.valid">
               Form status: VALID
            </div>
            <div *ngIf="!templateDrivenForm.valid">
               Form status: INVALID
            </div>
         </form>

         <br><br>

         <div>MODEL DRIVEN / REACTIVE EXAMPLE</div>
         <form [formGroup]="reactiveForm" novalidate autocomplete="off" (ngSubmit)="onSubmitReactiveForm()" class="col-md-3">
            <div class="form-group">
               <st-input
                  label="Description"
                  placeholder="Module description"
                  [forceValidations]="forceValidations"
                  [errors]="errors"
                  name="description"
                  qaTag="description-input"
                  contextualHelp="This is the contextual help of the description"
                  formControlName="description"
               ></st-input>

               <st-input
                  label="Components"
                  placeholder="Number of components"
                  [forceValidations]="forceValidations"
                  [errors]="errors"
                  name="components-reactive"
                  qaTag="components-input-reactive"
                  contextualHelp="This is the contextual help of the components"
                  formControlName="components"
               ></st-input>
            </div>
            <st-button inputType="submit" text="Submit" qaTag="button-submit" leftIcon="icon-circle-check"></st-button>
            <br><br>
            <div *ngIf="reactiveForm.valid">
               Form status: VALID
            </div>
            <div *ngIf="!reactiveForm.valid">
               Form status: INVALID
            </div>
         </form>

         <br>
         <st-button inputType="button" subtypeClass="subtype3" text="Force validations" qaTag="button-validate" leftIcon="icon-circle-check" (onClick)="forceValidation()"></st-button>
         <st-button inputType="button" subtypeClass="subtype2" text="Change disable status" qaTag="button-disable" leftIcon="icon-circle-check" (onClick)="changeDisabled()"></st-button>

      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="input/example-code/input.ts.txt"></st-load-code>
      <st-load-code file="input/example-code/input.html.txt"></st-load-code>
   </div>
</st-api-doc>
