
<!--show simple confirmation modal-->
<p>Important: Main component must be the first in the array</p>
<st-button (onClick)="showModal()" text="Show Modal" qaTag="modal-button-1"></st-button>
<br><br>
<st-button (onClick)="showModalMultipleComponents()" text="Show Modal complex component" qaTag="modal-button-2"></st-button>
<br><br>
<st-button (onClick)="showModalMultipleComponentsWithModules()" text="Show Modal complex component With module load" qaTag="modal-button-3"></st-button>
<br><br>
<st-button (onClick)="showModalOnlyModal()" text="Show Modal complex with module load" qaTag="modal-button-4"></st-button>

<!--<button class="btn btn-default" (click)="showModal()">Show Modal</button>
<button class="btn btn-default" (click)="showModalMultipleComponents()">Show Modal complex component</button>
<button class="btn btn-default" (click)="showModalMultipleComponentsWithModules()">Show Modal complex component With module load</button>
<button class="btn btn-default" (click)="showModalOnlyModal()">Show Modal complex with module load</button>-->
<!--end-->


<!--show code examples-->
<!--<p>Main App: </p>
<st-load-code file="modal/example-code/app.ts.txt"></st-load-code>
<st-load-code file="modal/example-code/app.html.txt"></st-load-code>
<p>Component that launch modal: </p>
<st-load-code file="modal/example-code/modal.ts.txt"></st-load-code>
<st-load-code file="modal/example-code/modal.html.txt"></st-load-code>-->
