@import '../../../../theme/constants/index';

.background {
   min-height: calc(100vh - 70px);
   padding-bottom: 60px;
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}


h1 {
   font-family: $egeo-nunito-sans-semiBold;
   font-size: 75px;
   letter-spacing: -2.1px;
   text-align: left;
   color: #2c3b4b;
   margin-top: 100px;
}

h5 {
   font-family: $egeo-nunito-sans;
   font-size: 30px;
   letter-spacing: -0.8px;
   text-align: left;
   color: #2c3b4b;
   margin-top: 19px;
}

.separator {
   width: 338px;
   border: solid 1px $brand;
   margin-top: 16px;
}

.main-text {
   margin-top: 62px;
   display: flex;
   flex-direction: column;
   max-width: 892px;


   font-family: $egeo-nunito-sans-light;
   font-size: $egeo-font-size-xxlarge;
   letter-spacing: -1.7px;
   text-align: left;
   color: #283440;

   p {
      margin-bottom: 25px;
   }

}

.footer {
   margin-top: 14px;
   font-family: $egeo-nunito-sans-italic;
   font-size: 23px;
   letter-spacing: -1.5px;
   text-align: left;
   color: $neutral-09;

   a {
      color: $brand;
      &:hover {
         text-decoration: underline;
      }
   }
}

