<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="page-container col-md-12">
         <h3>Title without left button:</h3>
         <st-page-title [title]="title" qaTag="page-title">
            <div class="right-content">
               <st-search qa="test-page-title" placeholder="search" class="margin-right"></st-search>
               <st-button leftIcon="icon-circle-plus" text="Create"></st-button>
            </div>
         </st-page-title>
      </section>

      <section class="page-container col-md-12">
         <h3>Title without left button and with pretitle:</h3>
         <st-page-title title="Egeo" preTitle="Project" qaTag="page-title-pretitle"></st-page-title>
      </section>

      <section class="page-container col-md-12">
         <h3>Title with back button:</h3>
         <st-page-title leftButton="icon-reply" [title]="title" qaTag="page-title-button">
            <div class="right-content">
               <st-search qa="test-page-title" placeholder="search" class="margin-right"></st-search>
               <st-button leftIcon="icon-circle-plus" text="Create"></st-button>
            </div>
         </st-page-title>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code class="col-sm-12" file="page-title/example-code/page-title.html.txt"></st-load-code>
   </div>
</st-api-doc>
