<div class="sth-dropdown-container">
   <button tabindex="0"
      [style.minWidth]="width + 'px'"
      [attr.aria-expanded]="isActive"
      [attr.qaTag]="qaTag + 'button'"
      [style.width]='widthMenu'
      aria-haspopup="true"
      class="button sth-dropdown-button"
      #buttonId
      (click)="onClickEvent($event)"
      [disabled]="disabled">
         <span>{{button}}</span>
         <i class="icon-arrow4_down"></i>
   </button>
   <div class="sth-dropdown-menu menu" [style.minWidth]='widthMenu' #menuId>
      <st-dropdown-menu
         [items]="items"
         [attr.qaTag]="qaTag + 'menu'"
         (change)="changeOption($event)"
         [active]="isActive">
      </st-dropdown-menu>
   </div>
</div>
