.sth-dropdown-container {
   position: relative;

   .button {
      cursor: pointer;
      padding: 0 30px 0 11px;
      line-height: 12px;
      height: 35px;
      display: block;
      text-align: left;
      position: relative;
      outline: 0;
      width: 100%;

      span {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         word-wrap: break-word;
         display: inline-block;
         width: 100%;
         padding: 11px 0;
      }

      i {
         padding-left: 20px;
         position: absolute;
         top: 50%;
         margin-top: -7px;
         right: 11px;
         float: right;
      }

      &:disabled {
         opacity: 0.5;
      }
   }

   .menu {
      position:absolute;
      z-index: 1000;
      width: inherit;
      top: 0;
      left: 0;
   }

}
