<label [attr.for]="inputId" class="st-radio sth-radio" [ngClass]="{'disabled': disabled}" #label [attr.id]="qaTag">
   <input 
      type="radio" 
      [id]="inputId"
      [attr.id]=""
      [name]="name" 
      [hidden]="true"
      [checked]="checked"
      [disabled]="disabled" 
      (blur)="onInputBlur()" 
      (change)="toggleRadio($event)"
      (click)="onInputClick($event)"
      [value]="value">

   <div class="custom-radio sth-radio-custom" [ngClass]="{'checked' : checked}"></div>
   <ng-content></ng-content>
</label>