.st-page-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.button-box {
  padding-right: 10px;
  padding-bottom: 8;
  margin-right: 10px;
  display: inline-block;
}

.main-title {
  flex-grow: 1;
  white-space: nowrap;
  line-height: 25px;
  padding-bottom: 10px;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
}
