@import '../styles/main';

$body---font-family: egeo-get-font(open-sans) !default;
$body---margin: 0 !default;

html{
   font-size: $html---base-font-size;
}
body{
   margin: $body---margin;
   overflow-x: hidden;
   font-family: $body---font-family;
}
