@import '../styles/main';

$body---font-family: egeo-get-font(open-sans) !default;
$body---margin: 0 !default;

html{
   font-size: $html---base-font-size;
}

body{
   margin: $body---margin;
   overflow-x: hidden;
   font-family: $body---font-family;
}

.page {
   width: 100%;
   min-width: 1300px;
}

img {
   max-width: 100%;
}

h1 {
   margin: $base-separation 0 ($base-separation - 10);
}

p {
   line-height: 1.5;
   margin-bottom: $base-separation;
}

ul {
   list-style: circle;
   padding-left: 25px;
}

li {
   line-height: 1.5;
}

a {
   color: egeo-get-color(a1);
   text-decoration: underline;
}

p {
   color: egeo-get-color(n7);
   font-size: egeo-get-font-size(body_large);
   padding: 0 0 15px;
}
