@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';


.link-list {
   list-style: none;
   display: inline-block
}

.option {
   float: left;
   margin-left: 20px;
   margin-right: 20px;
   height: 35px;
   line-height: 35px;
   cursor: pointer;

   & .link-icon {
     float: left;
     margin-right: 8px;
   }

   & .link-label {
      float: left;
   }
}
