@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';


.link-list {
   list-style: none;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.option {
   margin-left: 20px;
   margin-right: 20px;
   height: 35px;
   line-height: 35px;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;

   & .link-icon {
     margin-right: 8px;
   }
}
