<st-api-doc [doc]="apiDoc">
   <div class="example-run">

      <section class="container-fluid col-md-12">
         <h3>Pagination with pipe</h3>

         <ul class="list-items">
            <li *ngFor="let item of items | paginate: { perPage: perPage, currentPage: page }">
               {{ item.label }}
            </li>
         </ul>

         <st-pagination [total]="items.length" [perPage]="50" [currentPage]="page" (change)="onChangePage($event)"></st-pagination>

      </section>

   </div>
   <div class="example-model">
      <!--{{code}}-->
      <st-load-code file="pagination/example-code/pagination.interface.ts.txt"></st-load-code>
   </div>
   <div class="example-code">
      <st-load-code class="col-sm-12" file="pagination/example-code/pagination.html.txt"></st-load-code>
   </div>