<h1 class="page-title">Colors</h1>

<p>
   The colors of Stratio's interface products have been selected to convey the brand personality and values. We have created a palette which includes Stratio core colours through blue accents juxtaposed on neutral environments, mainly whites & greys. This combination reflects clarity, simplicity, intelligence, communication, trust, efficiency & logic.
</p>

<h2 class="subtitle">Backgrounds</h2>

<p>Here we will talk about the meaning of the colors used, how to use them and so on.</p>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--b1"><div class="color-block__title">b1: #1b303f rgb(27, 48, 63)</div></div>
      <div class="color-block color-block--b2"><div class="color-block__title">b2: #0f1b27 rgb(15, 27, 39)</div></div>
      <div class="color-block color-block--b3"><div class="color-block__title color-block__title--negative">b3: #eff2f3 rgb(239, 242, 243)</div></div>
      <div class="color-block color-block--b4"><div class="color-block__title color-block__title--negative">b4: #fff rgb(255, 255, 255)</div></div>
   </div>
</div>

<h2 class="subtitle">Accent</h2>

<p>The main accent color is <em>a1: #37b5e4</em>, the stratio logo color. Accent colors should be used sparingly, mainly for buttons, links and elements of the header, menus and footer.</p>

<p>To create the light version we increase 10 to luminosity variable. Instead, we will reduce 15 to luminosity when we want to create the dark version</p>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--a1_light"><div class="color-block__title">a1_light: #3dc9fc rgb(61, 201, 252)</div></div>
      <div class="color-block color-block--a2_light"><div class="color-block__title">a2_light: #ccd9de rgb(204, 217, 222)</div></div>
      <div class="color-block color-block--a3_light"><div class="color-block__title">a3_light: #4f6880 rgb(79, 107, 128)</div></div>
      <div class="color-block color-block--a4_light"><div class="color-block__title">a4_light: #a5b8c9 rgb(165, 184, 201)</div></div>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--a1"><div class="color-block__title">a1: #37b5e4 rgb(55, 181, 228)</div></div>
      <div class="color-block color-block--a2"><div class="color-block__title">a2: #b5c1c5 rgb(181, 193, 197)</div></div>
      <div class="color-block color-block--a3"><div class="color-block__title">a3: #405467 rgb(64, 84, 103)</div></div>
      <div class="color-block color-block--a4"><div class="color-block__title">a4: #92a2b1 rgb(146, 162, 177)</div></div>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--a1_dark"><div class="color-block__title">a1_dark: #2d96bd rgb(45, 150, 189)</div></div>
      <div class="color-block color-block--a2_dark"><div class="color-block__title">a2_dark: #919b9e rgb(145, 155, 158)</div></div>
      <div class="color-block color-block--a3_dark"><div class="color-block__title">a3_dark: #283440 rgb(40, 52, 64)</div></div>
      <div class="color-block color-block--a4_dark"><div class="color-block__title">a4_dark: #717e8a rgb(113, 126, 138)</div></div>
   </div>
</div>

<h2 class="subtitle">Neutral</h2>

<p>This color palette provides a neutral backdrop. These colors are used largely for text and content blocks. When alternating between tones, be sure to use enough contrast between adjacent colors.</p>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--n0"><div class="color-block__title color-block__title--negative">n0: #fff rgb(255, 255, 255)</div></div>
      <div class="color-block color-block--n1"><div class="color-block__title color-block__title--negative">n1: #f5f5f5 rgb(245, 245, 245)</div></div>
      <div class="color-block color-block--n2"><div class="color-block__title color-block__title--negative">n2: #ededed rgb(237, 237, 237)</div></div>
      <div class="color-block color-block--n3"><div class="color-block__title color-block__title--negative">n3: #dedede rgb(222, 222, 222)</div></div>
      <div class="color-block color-block--n4"><div class="color-block__title color-block__title--negative">n4: #cbcbcb rgb(203, 203, 203)</div></div>
      <div class="color-block color-block--n5"><div class="color-block__title">n5: #b5b5b5 rgb(181, 181, 181)</div></div>
      <div class="color-block color-block--n6"><div class="color-block__title">n6: #999 rgb(153, 153, 153)</div></div>
      <div class="color-block color-block--n7"><div class="color-block__title">n7: #777 rgb(119, 119, 119)</div></div>
      <div class="color-block color-block--n8"><div class="color-block__title">n8: #555 rgb(85, 85, 85)</div></div>
      <div class="color-block color-block--n9"><div class="color-block__title">n9: #242424 rgb(36, 36, 36)</div></div>
      <div class="color-block color-block--n10"><div class="color-block__title">n10: #000 rgb(0, 0, 0)</div></div>
   </div>
</div>

<h2 class="subtitle">Status</h2>

<p>To create the light version we reduce 20 to saturation variable. Instead, we will reduce 10 to luminosity when we want to create the dark version</p>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--s1_light"><div class="color-block__title">s1_light: #9ab084 rgb(154, 176, 132)</div></div>
      <div class="color-block color-block--s2_light"><div class="color-block__title">s2_light: #ffa033 rgb(255, 160, 51)</div></div>
      <div class="color-block color-block--s3_light"><div class="color-block__title">s3_light: #e36459 rgb(227, 100, 89)</div></div>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--s1"><div class="color-block__title">s1: #88b060 rgb(136, 176, 96)</div></div>
      <div class="color-block color-block--s2"><div class="color-block__title">s2: #ff8900 rgb(255, 137, 0)</div></div>
      <div class="color-block color-block--s3"><div class="color-block__title">s3: #e23b2b rgb(226, 59, 43)</div></div>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--s1_dark"><div class="color-block__title">s1_dark: #759653 rgb(117, 150, 83)</div></div>
      <div class="color-block color-block--s2_dark"><div class="color-block__title">s2_dark: #e57a00 rgb(229, 122, 0)</div></div>
      <div class="color-block color-block--s3_dark"><div class="color-block__title">s3_dark: #c93426 rgb(201, 52, 38)</div></div>
   </div>
</div>

<h2 class="subtitle">Tertiary</h2>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="color-block color-block--t1"><div class="color-block__title">t1: #d0c120 rgb(208, 193, 32)</div></div>
      <div class="color-block color-block--t2"><div class="color-block__title">t2: #21d8de rgb(33, 216, 222)</div></div>
      <div class="color-block color-block--t3"><div class="color-block__title">t3: #bcea3f rgb(188, 234, 63)</div></div>
   </div>
</div>
