$egeo-colors: (
	a1: #37b5e4,
	a1_dark: #2d96bd,
	a1_light: #3dc9fc,
	a2: #b5c1c5,
	a2_dark: #919b9e,
	a2_light: #ccd9de,
	a3: #405467,
	a3_dark: #283440,
	a3_light: #4f6880,
	n0: #fff,
	n1: #fbfbfb,
	n2: #f3f3f3,
	n3: #e4e4e4,
	n4: #cbcbcb,
	n5: #b5b5b5,
	n6: #999,
	n7: #777,
	n8: #555,
	n9: #242424,
	n10: #000,
	b1: #172734,
	b2: #0f1b27,
	b3: #eff2f3,
	b3_dark: #e1e4e5,
	b4: #fff,
	s1: #88b060,
	s1_dark: #759653,
	s1_light: #9ab084,
	s2: #ff8900,
	s2_dark: #e57a00,
	s2_light: #ffa033,
	s3: #e23b2b,
	s3_dark: #c93426,
	s3_light: #e36459,
	t1: #d0c120,
	t2: #21d8de,
	t3: #bcea3f
) !default;
