<div class="st-input">
   <div class="input-container" [ngClass]="{disabled: isDisabled, error: showError()}">
      <label class="title" [ngClass]="{error: showError(), active: focus, disabled: isDisabled}" [attr.for]="name">
         <st-tooltip *ngIf="contextualHelp" [text]="contextualHelp" [showOnClick]="true" [qaTag]="qaTag + '-contextual-help'">
            <span>{{label}}</span>
            <span class="icon-help2"></span>
         </st-tooltip>
         <span *ngIf="!contextualHelp">{{label}}</span>
      </label>
      <input (focus)="onFocus($event)" (focusout)="onFocusOut($event)" (blur)="onFocusOut($event)" [formControl]="internalControl"
         class="remove-default-style" [ngClass]="{disabled: disabled}" [ngModel]="ngModel" (ngModelChange)="changeModel($event)"
         [placeholder]="placeholder" [name]="name" [type]="internalType" [attr.maxlength]="maxLength" [attr.id]="qaTag">

      <span class="bar" [ngClass]="getBarType()"></span>
   </div>
   <div class="error-layout">
      <div *ngIf="showError()">
         <span class="error-message">{{errorMessage}}</span>
      </div>
   </div>
</div>
