@import '~egeo-ui-base/utils/typography';
@import '~egeo-ui-base/utils/colors';

$general__active---color: egeo-get-color(a1) !default;
$general__warning---color: egeo-get-color(s2) !default;

$general__disabled---color: egeo-get-color(n5) !default;
$input__disabled---color: egeo-get-color(n7) !default;

$general__normal---color: #92a2b1 !default;
$input__normal---color: egeo-get-color(n9) !default;

$placeholder---color: egeo-get-color(n4) !default;
$placeholder---font-weight: egeo-get-font-weight(normal) !default;
$placeholder---font-size: egeo-get-font-size(body_large) !default;
$placeholder---padding-left: 3px !default;

$focus-bar---width: 100% !default;
$focus-bar---left: 0 !default;
$focus-bar---bottom: -2px !default;

$focus-bar__before-after---content: '' !default;
$focus-bar__before-after---height: 2px !default;
$focus-bar__before-after---width: 0 !default;
$focus-bar__before-after---bottom: 0 !default;
$focus-bar__before-after---transition: 0.2s ease all;

$focus-bar-default__before-after---width: 50% !default;

$input-container---border-bottom: 1px solid $general__normal---color;
$input-container---padding-bottom: 6px;

$input---width: 100% !default;
$input---font-size: egeo-get-font-size(body_large) !default;
$input---font-weight: egeo-get-font-weight(normal) !default;
$input---padding-left: 3px;
$input---height: 25px;

$error---font-size: egeo-get-font-size(body_xsmall) !default;
$error---font-weight: egeo-get-font-weight(normal) !default;

$title---padding: 0 !default;
$title---font-size: 13px !default;
$title---font-weight: 400 !default;
$title---color: $general__normal---color !default;
$title---position: relative !default;
$title---margin-bottom: 7px !default;
$title---display: block !default;
$title---float: left !default;
$title---width: 100% !default;

$error-layout---height: 15px !default;

$font-family---open-sans: egeo-get-font(body) !default;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}

  :focus::-webkit-input-placeholder { color:transparent; }
  :focus:-moz-placeholder           { color:transparent; } /* FF 4-18 */
  :focus::-moz-placeholder          { color:transparent; } /* FF 19+ */
  :focus:-ms-input-placeholder      { color:transparent; } /* IE 10+ */
}

@mixin removeMoz {
  :invalid { box-shadow: none; }
  :-moz-submit-invalid { box-shadow: none; }
  :-moz-ui-invalid { box-shadow:none; }
}

@mixin selection($color) {
  position: absolute;
  width: $focus-bar---width;
  left: $focus-bar---left;
  bottom: $focus-bar---bottom;

  &::before, &::after {
    content: $focus-bar__before-after---content;
    height: $focus-bar__before-after---height;
    width: $focus-bar__before-after---width;
    bottom: $focus-bar__before-after---bottom;
    position: absolute;
    background: $color;
    transition: $focus-bar__before-after---transition;
  }
  &::before {
    left: $focus-bar-default__before-after---width;
  }
  &::after {
    right: $focus-bar-default__before-after---width;
  }
}

.remove-default-style {
  outline: none;
  border: none;
  width: $input---width;
  &:disabled {
    background: none;
  }
}

.input-container {
  border-bottom: $input-container---border-bottom;
  padding-bottom: $input-container---padding-bottom;
  position: relative;

  &.disabled {
    border-style: dashed;
    border-color: $general__disabled---color;
  }

  &.error {
    border-color: $general__warning---color;
  }

  @include placeholder {
    font-family: $font-family---open-sans;
    color: $placeholder---color;
    font-weight: $placeholder---font-weight;
    font-size: $placeholder---font-size;
    padding-left: $placeholder---padding-left;
  }
  @include removeMoz;
  input {
    font-size: $input---font-size;
    font-weight: $input---font-weight;
    color: $input__normal---color;
    padding-left: $input---padding-left;
    background-color: transparent;
    height: $input---height;
    &.disabled {
      color: $input__disabled---color;
    }
  }

  .title {
    padding: $title---padding;
    font-size: $title---font-size;
    font-weight: $title---font-weight;
    color: $title---color;
    position: $title---position;
    margin-bottom: $title---margin-bottom;
    display: $title---display;
    float: $title---float;
    width: $title---width;
    text-align: left;

    &.active {
      color: $general__active---color;
    }

    &.disabled {
      color: $general__disabled---color;
    }

    &.error {
      color: $general__warning---color;
    }
  }

  .normal-bar  {
    @include selection($general__active---color);
  }

  .error-bar  {
    @include selection($general__warning---color);
  }

  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: $focus-bar-default__before-after---width;
  }
}

.st-input {
  width: $input---width;
  font-family: $font-family---open-sans;
  min-height: 90px;
  height: 90px;
}

.error-message {
  font-size: $error---font-size;
  font-weight: $error---font-weight;
  color: $general__warning---color;
}

.error-layout {
  height: $error-layout---height;
}
