
<!--show simple confirmation modal-->
<p>Important: Main component must be the first in the array</p>
<button class="btn btn-default" (click)="showModal()">Show Modal</button>
<button class="btn btn-default" (click)="showModalMultipleComponents()">Show Modal complex component</button>
<div #loadModal qaTag="modal-example"></div>
<!--end-->


<!--show code examples-->
<st-load-code file="modal/example-code/modal.ts.txt"></st-load-code>
<st-load-code file="modal/example-code/modal.html.txt"></st-load-code>
