@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';
@import '~ui-base/settings/animation';

$gosec-facelet__frame---width:100% !default;
$gosec-facelet__frame---height:200px !default;
$gosec-facelet__frame---padding:25px 20px !default;
$gosec-facelet__frame---background-color: egeo-get-color(n3) !default;
$gosec-facelet__block---width: 300px !default;
$gosec-facelet__block-title---font-weight: 700 !default;
$gosec-facelet__block-title---line-height: 30px !default;
$gosec-facelet__criteria---line-height: 25px !default;

$gosec-facelet__triangle---border: 7px solid $gosec-facelet__frame---background-color !default;
$gosec-facelet__triangle---border-side-color: transparent !default;
$gosec-facelet__triangle---border-width: 0 12px 12px !default;
$gosec-facelet__triangle---top: -12px !default;
$gosec-facelet__triangle---right: 85px !default;

$gosec-facelet__button-remove---position:0 !default;
$gosec-facelet__buton-remove---background: egeo-get-color(a1) !default;

$gosec-circle-button---width: 30px !default;
$gosec-circle-button---margin: 23px !default;
$gosec-circle-button---font-size:15px !default;
$gosec-circle-button---border-radius: 50% !default;
$gosec-circle-button---background-color: egeo-get-color(n2) !default;


.gosec-facelet{

  &__frame{
    width: $gosec-facelet__frame---width;
    height: $gosec-facelet__frame---height;
    padding: $gosec-facelet__frame---padding;
    background-color: $gosec-facelet__frame---background-color;
    position:relative;
  }
  &__block{
    width: $gosec-facelet__block---width;
    float:left;
  }
  &__block-title{
    font-weight: $gosec-facelet__block-title---font-weight;
    line-height: $gosec-facelet__block-title---line-height;
  }
  &__criteria{
    line-height: $gosec-facelet__criteria---line-height;
    &-label{
      cursor: pointer;
    }
  }
  &__triangle{
    position: absolute;
    top: $gosec-facelet__triangle---top;
    right: $gosec-facelet__triangle---right;
    border: $gosec-facelet__triangle---border;
    border-right-color: $gosec-facelet__triangle---border-side-color;
    border-left-color: $gosec-facelet__triangle---border-side-color;
    border-width: $gosec-facelet__triangle---border-width;
  }
  &__button-remove{
    right: $gosec-facelet__button-remove---position;
    bottom: $gosec-facelet__button-remove---position;
    position: absolute;
    background-color: $gosec-facelet__buton-remove---background;

    &.gosec-circle-button{
      width: $gosec-circle-button---width;
      height: $gosec-circle-button---width;
      text-align: center;
      float:left;
      margin: $gosec-circle-button---margin;
      font-size: $gosec-circle-button---font-size;
      line-height: $gosec-circle-button---width;
      border-radius: $gosec-circle-button---border-radius;
      cursor: pointer;
      transition: $transition-all-ease;
    }
  }
}

