<div class="gosec-facelet__frame">
  <div class="gosec-facelet__triangle"></div>
  <div *ngFor="let block of internalFacetedBlock" class="gosec-facelet__block">
    <div class="gosec-facelet__block-title">
      {{ block.label }}
    </div>
    <div class="gosec-facelet__criteria" *ngFor="let criteria of block.criteria">
      <label class="gosec-facelet__criteria-label">
          <input type="radio" [checked]="block.selected === criteria.id" (click)="changeOption(criteria, block)" name="{{block.id}}"/>
          {{ criteria.label }}
      </label>
    </div>
  </div>
  <div class="egeo-c-button--main-1 gosec-circle-button gosec-facelet__button-remove" (click)="removeFilters()"><i class="icon-trash2"></i></div>
</div>
