@import '../st-egeo';
@import '../../ui-base/utils/typography';
@import '../../ui-base/utils/colors';

$st-modificable-list---font-family: egeo-get-font('open-sans') !default;
$st-modificable-list---font-size: egeo-get-font-size('body_medium') !default;
$st-modificable-list---color: egeo-get-color(n7) !default;
$st-modificable-list---min-height: 500px !default;
$st-modificable-list---margin-top: 20px !default;

$st-modificable-list__container---height: 500px - 80px !default;
$st-modificable-list__container---min-height: $st-modificable-list---min-height  !default;
$st-modificable-list__container---padding: 20px !default;
$st-modificable-list__container---border: 1px solid egeo-get-color(n4) !default;
$st-modificable-list__container--modificable---border: 1px solid egeo-get-color(a1) !default;
$st-modificable-list__container---background-color:egeo-get-color(n0) !default;

$st-modificable-list__container-inside---width: 98% !default;
$st-modificable-list__container-outside---width: 100% !default;
$st-modificable-list__container-outside---margin: 20px 0 0 0;
$st-modificable-list---font-size: egeo-get-font-size('body_small') !default;
$st-modificable-list___search-input---height: 30px !default;
$st-modificable-list___search-input---width: 100% !default;
$st-modificable-list___search-input---background-color: egeo-get-color(n1) !default;
$st-modificable-list___search-input---color: egeo-get-color(n8) !default;
$st-modificable-list___search-input---border: 1px solid egeo-get-color(n3) !default;
$st-modificable-list___search-input---padding: 0 35px 0 10px !default;
$st-modificable-list___search-input-placeholder---color: #d1ccce !default;

$st-modificable-list___search-filtercriteria---width: 100% !default;

$st-modificable-list___search-icon---right: 10px !default;
$st-modificable-list___search-icon---top: 5px !default;
$st-modificable-list___search-icon---font-size: egeo-get-font-size(icon_small) !default;
$st-modificable-list___search-icon---color: egeo-get-color(n7) !default;

$st-modificable-list__title---height: 40px !default;
$st-modificable-list__title---font-weight: 700 !default;

$st-modificable-list__arrows---margin-top: 200% !default;
$st-modificable-list__arrows---text-align: center !default;

$st-modificable-list__arrow---font-size: 35px !default;
$st-modificable-list__arrow---color: egeo-get-color(n4) !default;
$st-modificable-list__arrow---margin-bottom: 30px !default;
$st-modificable-list__arrow--selected---color: egeo-get-color(a1) !default;

$st-modificable-list__row---height: 40px !default;
$st-modificable-list__row---color: egeo-get-color(n7) !default;
$st-modificable-list__row---border-bottom: 1px solid egeo-get-color(n3) !default;
$st-modificable-list__row---margin-right:20px !default;

$st-container__check-element---margin-bottom: 3px !default;
$st-container__check-element-text---font-size: egeo-get-font-size(body_xsmall) !default;
$st-container__check-element-text---color: egeo-get-color(n7) !default;


.st-modificable-list{
  font-family: $st-modificable-list---font-family;
  font-size: $st-modificable-list---font-size;
  color: $st-modificable-list---color;
  min-height: $st-modificable-list---min-height;
  margin-top: $st-modificable-list---margin-top;
  &__list-container{
    min-height: $st-modificable-list---min-height;
    padding: $st-modificable-list__container---padding;
    border: $st-modificable-list__container---border;
    background-color:$st-modificable-list__container---background-color;
    &--modificable{
      border: $st-modificable-list__container--modificable---border;
    }
  }
  &__adder{
    min-height: $st-modificable-list---min-height;
  }
  &__arrows{
    margin-top: $st-modificable-list__arrows---margin-top;
    text-align: $st-modificable-list__arrows---text-align;
  }

  &__arrow{
    cursor: pointer;
    font-size: $st-modificable-list__arrow---font-size;
    color: $st-modificable-list__arrow---color;
    margin-bottom: $st-modificable-list__arrow---margin-bottom;
    &--selected{
      color: $st-modificable-list__arrow--selected---color;
    }
  }

  &__container-outside{
    width: $st-modificable-list__container-outside---width;
    min-height: $st-modificable-list__container---height;
    max-height: $st-modificable-list__container---height;
  }

  &__title{
    font-weight: $st-modificable-list__title---font-weight;
    height: $st-modificable-list__title---height;
    line-height: $st-modificable-list__title---height;
  }

  &__row{
    height: $st-modificable-list__row---height;
    line-height: $st-modificable-list__row---height;
    color: $st-modificable-list__row---color;
    border-bottom: $st-modificable-list__row---border-bottom;
    margin-right: $st-modificable-list__row---margin-right;
    & label{
      cursor: pointer;
    }
  }

  &__container-inside{
    width: $st-modificable-list__container-inside---width;
  }
  &__search-input {
    font-size: $st-modificable-list---font-size;
    height: $st-modificable-list___search-input---height;
    width: $st-modificable-list___search-input---width;
    border: $st-modificable-list___search-input---border;
    background-color: $st-modificable-list___search-input---background-color;
    color: $st-modificable-list___search-input---color;
    padding: $st-modificable-list___search-input---padding;
    &:placeholder{
      color: $st-modificable-list___search-input-placeholder---color;
    }
  }
  &__search-filtercriteria{
    width: $st-modificable-list___search-filtercriteria---width;
    position: relative;
  }
  &__search-icon{
    position: absolute;
    right: $st-modificable-list___search-icon---right;
    top: $st-modificable-list___search-icon---top;
    font-size: $st-modificable-list___search-icon---font-size;
    color: $st-modificable-list___search-icon---color;
  }
}

.st-container {
   &--overflow-wrapper{
      @extend %webkit-sidebar;
      @extend %webkit-sidebar-all;
      @extend %webkit-sidebar-rect;
   }
   &__check-element{
      margin-bottom: $st-container__check-element---margin-bottom;
   }
   &__check-element-text{
      font-size: $st-container__check-element-text---font-size;
      color: $st-container__check-element-text---color;
   }
}

// Custom sidebar on webkit
%webkit-sidebar-color{
  &::-webkit-scrollbar-thumb {
    background: #888888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #5a5a5a;
  }
  &::-webkit-scrollbar-track {
    background: #cccccc;
  }
  &::-webkit-scrollbar-track:hover {
    background: #bbbbbb;
  }
  &::-webkit-scrollbar-track:active {
    background: #aaaaaa;
  }
}
.webkit-sidebar,
%webkit-sidebar{
  @extend %webkit-sidebar-color;

  overflow-y: auto;
  $size: 7px;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-button {
    width: 30px;
    height: 30px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 7px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.webkit-sidebar-all,
%webkit-sidebar-all{
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
}
%webkit-sidebar-rect{
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }
}

%webkit-sidebar-hover{
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {

    background: transparent;
  }
}
%webkit-sidebar-hover:hover,
%webkit-sidebar-hover-hover{
  @extend %webkit-sidebar-color;
}
