@import '../../node_modules/egeo-ui-base/utils/typography';
@import '../../node_modules/egeo-ui-base/utils/colors';

$st-print---vertical-tabs: true !default;

$st-vertical-tabs---height: 100%;
$st-vertical-tabs---width: 100%;
$st-vertical-tabs---display: block;
$st-vertical-tabs---position: relative;

$st-vertical-tabs__list---height: 100%;
$st-vertical-tabs__list---position: relative;
$st-vertical-tabs__list---list-style: none;
$st-vertical-tabs__list---float: left;
$st-vertical-tabs__list---width: 90%;
$st-vertical-tabs__list---padding: 0 30px 0 0;

$st-vertical-tabs__option---height: 40px;
$st-vertical-tabs__option---margin-top: -1px;
$st-vertical-tabs__option---line-height: 38px;
$st-vertical-tabs__option---box-sizing: border-box;
$st-vertical-tabs__option---border-style: solid;
$st-vertical-tabs__option---visible-border: 1.6px solid egeo-get-color(n3);
$st-vertical-tabs__option---invisible-border: 0;

$st-vertical-tabs--active---font-weight: bold;
$st-vertical-tabs--active---color: rgb(102, 102, 102);

$st-vertical-tabs__text---margin-top: 2px;
$st-vertical-tabs__text---margin-left: 15px;
$st-vertical-tabs__text---cursor: pointer;
$st-vertical-tabs__text---color: egeo-get-color(n6);
$st-vertical-tabs__text---text-decoration: none;
$st-vertical-tabs__text---font-family: egeo-get-font(heading);
$st-vertical-tabs__text---font-weight: 400;
$st-vertical-tabs__text---font-style: normal;
$st-vertical-tabs__text---font-size: 15px;
$st-vertical-tabs__text---text-align: left;
$st-vertical-tabs__text---line-height: 16px;
$st-vertical-tabs__text---text-transform: uppercase;
$st-vertical-tabs__text--hover---color: rgb(0, 0, 0);

$st-vertical-tabs__line---position: relative;
$st-vertical-tabs__line---height: 100%;
$st-vertical-tabs__line---border: 1.6px solid egeo-get-color(n4);
$st-vertical-tabs__line---float: right;
$st-vertical-tabs__line---width: 10%;

$st-vertical-tabs__line__arrow---position: absolute;
$st-vertical-tabs__line__arrow---size: 13px;
$st-vertical-tabs__line__arrow---border: 1.6px solid egeo-get-color(n6);
$st-vertical-tabs__line__arrow---invisible-border: 0;
$st-vertical-tabs__line__arrow---background-color: egeo-get-color(n0);
$st-vertical-tabs__line__arrow---top: 14px;
$st-vertical-tabs__line__arrow---transform: rotate(45deg);
$st-vertical-tabs__line__arrow---float: left;
$st-vertical-tabs__line__arrow---margin-left: -7.1px;
$st-vertical-tabs__line__arrow---transition: margin-top .4s;

@mixin st-vertical-tabs() {
  height: $st-vertical-tabs---height;
  width: $st-vertical-tabs---width;
  display: $st-vertical-tabs---display;
  position: $st-vertical-tabs---position;

  &__list {
    height: $st-vertical-tabs__list---height;
    position: $st-vertical-tabs__list---position;
    list-style: $st-vertical-tabs__list---list-style;
    float: $st-vertical-tabs__list---float;
    width: $st-vertical-tabs__list---width;
    padding: $st-vertical-tabs__list---padding;
  }

  &__option {
    margin-top: $st-vertical-tabs__option---margin-top;
    height: $st-vertical-tabs__option---height;
    line-height: $st-vertical-tabs__option---line-height;
    box-sizing: $st-vertical-tabs__option---box-sizing;
    border: $st-vertical-tabs__option---visible-border;
    border-right-width: $st-vertical-tabs__option---invisible-border;
    border-left-width: $st-vertical-tabs__option---invisible-border;

    &--active {
      font-weight: $st-vertical-tabs--active---font-weight !important;
      color: $st-vertical-tabs--active---color !important;
    }

    &__text {
      margin-top: $st-vertical-tabs__text---margin-top;
      margin-left: $st-vertical-tabs__text---margin-left;
      cursor: $st-vertical-tabs__text---cursor;
      color: $st-vertical-tabs__text---color;
      text-decoration: $st-vertical-tabs__text---text-decoration;
      font-family: $st-vertical-tabs__text---font-family;
      font-weight: $st-vertical-tabs__text---font-weight;
      font-style: $st-vertical-tabs__text---font-style;
      font-size: $st-vertical-tabs__text---font-size;
      text-align: $st-vertical-tabs__text---text-align;
      line-height: $st-vertical-tabs__text---line-height;
      text-transform: $st-vertical-tabs__text---text-transform;
      &:hover {
        color: $st-vertical-tabs__text--hover---color;
      }
    }
  }

  &__line {
    position: $st-vertical-tabs__line---position;
    height: $st-vertical-tabs__line---height;
    border-left: $st-vertical-tabs__line---border;
    float: $st-vertical-tabs__line---float;
    width: $st-vertical-tabs__line---width;
    border-radius: 2px;

    &__arrow {
      position: $st-vertical-tabs__line__arrow---position;
      width: $st-vertical-tabs__line__arrow---size;
      height: $st-vertical-tabs__line__arrow---size;
      background-color: $st-vertical-tabs__line__arrow---background-color;
      top: $st-vertical-tabs__line__arrow---top;
      -ms-transform: $st-vertical-tabs__line__arrow---transform;
      -webkit-transform: $st-vertical-tabs__line__arrow---transform;
      transform: $st-vertical-tabs__line__arrow---transform;
      border: $st-vertical-tabs__line__arrow---border;
      border-bottom-width: $st-vertical-tabs__line__arrow---invisible-border;
      border-left-width: $st-vertical-tabs__line__arrow---invisible-border;
      float: $st-vertical-tabs__line__arrow---float;
      margin-left: $st-vertical-tabs__line__arrow---margin-left;
      transition: $st-vertical-tabs__line__arrow---transition;
      border-radius: 2px;
    }
  }
}

@if ($st-print---vertical-tabs) {
  :host {
    display: block;
  }

  .st-vertical-tabs {
    @include st-vertical-tabs;
  }
}

