<h1 class="page-title">Egeo design guidelines</h1>

<p>
   EGEO is the open-source component library and branding guide used to build Stratio's UI.
   The purpose is to optimize the UI development time by providing consistent UI components.
</p>

<p>
   Here, you'll find UI components and visual styles. Sometimes it makes sense to break the rules.
   The purpose of this document is to guide you, no to provide solutions for complex and unique design problems.
</p>

<h1 class="page-title">About Stratio</h1>

<p>
   STRATIO is a start-up founded in 2013 by a team of seasoned engineers and technology consultants.
   Our values are honesty and work ethics.
</p>

<h1 class="page-title">Egeo changelog</h1>

<p>
   <a routerLink="/changelog">Changelog</a>
</p>
