@import '~egeo-ui-base/utils/typography';
@import '~egeo-ui-base/utils/colors';

$st-print---vertical-menu: true !default;

$st-vertical-menu---height: 100%;
$st-vertical-menu---width: 100%;
$st-vertical-menu---display: block;
$st-vertical-menu---position: relative;

$st-vertical-menu__list---height: 100%;
$st-vertical-menu__list---position: relative;
$st-vertical-menu__list---list-style: none;
$st-vertical-menu__list---float: left;
$st-vertical-menu__list---width: 90%;
$st-vertical-menu__list---padding: 0 30px 0 0;

$st-vertical-menu__option---height: 40px;
$st-vertical-menu__option---margin-top: -1px;
$st-vertical-menu__option---line-height: 38px;
$st-vertical-menu__option---box-sizing: border-box;
$st-vertical-menu__option---border-style: solid;
$st-vertical-menu__option---visible-border: 1.6px solid egeo-get-color(n3);
$st-vertical-menu__option---invisible-border: 0;

$st-vertical-menu--active---font-weight: bold;
$st-vertical-menu--active---color: rgb(102, 102, 102);

$st-vertical-menu__text---margin-top: 2px;
$st-vertical-menu__text---margin-left: 15px;
$st-vertical-menu__text---cursor: pointer;
$st-vertical-menu__text---color: egeo-get-color(n6);
$st-vertical-menu__text---text-decoration: none;
$st-vertical-menu__text---font-family: egeo-get-font(brandon-grotesque);
$st-vertical-menu__text---font-weight: 400;
$st-vertical-menu__text---font-style: normal;
$st-vertical-menu__text---font-size: 15px;
$st-vertical-menu__text---text-align: left;
$st-vertical-menu__text---line-height: 16px;
$st-vertical-menu__text---text-transform: uppercase;
$st-vertical-menu__text--hover---color: rgb(0, 0, 0);

$st-vertical-menu__line---position: relative;
$st-vertical-menu__line---height: 100%;
$st-vertical-menu__line---border: 1.6px solid egeo-get-color(n4);
$st-vertical-menu__line---float: right;
$st-vertical-menu__line---width: 10%;

$st-vertical-menu__line__arrow---position: absolute;
$st-vertical-menu__line__arrow---size: 13px;
$st-vertical-menu__line__arrow---border: 1.6px solid egeo-get-color(n6);
$st-vertical-menu__line__arrow---invisible-border: 0;
$st-vertical-menu__line__arrow---background-color: egeo-get-color(n0);
$st-vertical-menu__line__arrow---top: 14px;
$st-vertical-menu__line__arrow---transform: rotate(45deg);
$st-vertical-menu__line__arrow---float: left;
$st-vertical-menu__line__arrow---margin-left: -7.1px;
$st-vertical-menu__line__arrow---transition: margin-top .4s;

@mixin st-vertical-menu() {
  height: $st-vertical-menu---height;
  width: $st-vertical-menu---width;
  display: $st-vertical-menu---display;
  position: $st-vertical-menu---position;

  &__list {
    height: $st-vertical-menu__list---height;
    position: $st-vertical-menu__list---position;
    list-style: $st-vertical-menu__list---list-style;
    float: $st-vertical-menu__list---float;
    width: $st-vertical-menu__list---width;
    padding: $st-vertical-menu__list---padding;
  }

  &__option {
    margin-top: $st-vertical-menu__option---margin-top;
    height: $st-vertical-menu__option---height;
    line-height: $st-vertical-menu__option---line-height;
    box-sizing: $st-vertical-menu__option---box-sizing;
    border: $st-vertical-menu__option---visible-border;
    border-right-width: $st-vertical-menu__option---invisible-border;
    border-left-width: $st-vertical-menu__option---invisible-border;

    &--active {
      font-weight: $st-vertical-menu--active---font-weight !important;
      color: $st-vertical-menu--active---color !important;
    }

    &__text {
      margin-top: $st-vertical-menu__text---margin-top;
      margin-left: $st-vertical-menu__text---margin-left;
      cursor: $st-vertical-menu__text---cursor;
      color: $st-vertical-menu__text---color;
      text-decoration: $st-vertical-menu__text---text-decoration;
      font-family: $st-vertical-menu__text---font-family;
      font-weight: $st-vertical-menu__text---font-weight;
      font-style: $st-vertical-menu__text---font-style;
      font-size: $st-vertical-menu__text---font-size;
      text-align: $st-vertical-menu__text---text-align;
      line-height: $st-vertical-menu__text---line-height;
      text-transform: $st-vertical-menu__text---text-transform;
      &:hover {
        color: $st-vertical-menu__text--hover---color;
      }
    }
  }

  &__line {
    position: $st-vertical-menu__line---position;
    height: $st-vertical-menu__line---height;
    border-left: $st-vertical-menu__line---border;
    float: $st-vertical-menu__line---float;
    width: $st-vertical-menu__line---width;
    border-radius: 2px;

    &__arrow {
      position: $st-vertical-menu__line__arrow---position;
      width: $st-vertical-menu__line__arrow---size;
      height: $st-vertical-menu__line__arrow---size;
      background-color: $st-vertical-menu__line__arrow---background-color;
      top: $st-vertical-menu__line__arrow---top;
      -ms-transform: $st-vertical-menu__line__arrow---transform;
      -webkit-transform: $st-vertical-menu__line__arrow---transform;
      transform: $st-vertical-menu__line__arrow---transform;
      border: $st-vertical-menu__line__arrow---border;
      border-bottom-width: $st-vertical-menu__line__arrow---invisible-border;
      border-left-width: $st-vertical-menu__line__arrow---invisible-border;
      float: $st-vertical-menu__line__arrow---float;
      margin-left: $st-vertical-menu__line__arrow---margin-left;
      transition: $st-vertical-menu__line__arrow---transition;
      border-radius: 2px;
    }
  }
}

@if ($st-print---vertical-menu) {
  :host {
    display: block;
  }

  .st-vertical-menu {
    @include st-vertical-menu;
  }
}

