@import '../../../styles/require';

$egeo-grid: true;

@import '~egeo-ui-base/utils/grid';

.page-title {
   color: egeo-get-color(n9);
   font-family: egeo-get-font(brandon-grotesque);
   font-size: egeo-get-font-size(head_xxxlarge);
   font-weight: egeo-get-font-weight(normal);
   margin-bottom: 10px;
   text-transform: uppercase;

   &::after {
      border-bottom: 2px solid;
      border-color: egeo-get-color(a2);
      content: ' ';
      display: block;
      height: 10px;
      width: 100%;
  }
}

main {
   color: egeo-get-color(n8);
   line-height: 1.5em;
}

ul {
   list-style: none;
   padding: 0 0 15px 25px;
}

li {
   &:before {
      content: '-';
      margin-right: .5em;
  }
}

p {
   color: egeo-get-color(n7);
   font-size: egeo-get-font-size(body_large);
   padding: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 30px 0 25px;
}

:root {
    overflow-y: auto;
}

body {
    color: #222222;
    cursor: auto;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    overflow: auto !important;
}

h1 {
    color:#fff;
    font-size: 2em;
    font-weight: normal;
    margin: 0.59em 0;
}

.container-fluid > .row:first-child {
    padding: 0;
}

.row {
    padding: 27px 0;
}

main > .row {
    padding: 0;
}

.row:nth-child(2) {
    padding: 15px 0;
}
