@import '../../../../node_modules/egeo-ui-base/utils/typography';
@import '../../../../node_modules/egeo-ui-base/utils/colors';


$st-list-body---list-style-type: none !default;
$st-list-body---min-height: 470px !default;

$st-list-body__text--normal---font-size: egeo-get-font-size(body_small) !default;
$st-list-body__text--normal---font-weight: egeo-get-font-weight(light) !default;
$st-list-body__text--normal---color: egeo-get-color(a3_dark) !default;

$st-list-body__msg---color: egeo-get-color(n6) !default;
$st-list-body__msg---font-size: egeo-get-font-size(body_small) !default;
$st-list-body__msg---font-weight: egeo-get-font-weight(light) !default;

$st-list-body__msg---padding-top: 10% !default;
$st-list-body__msg---padding-left: 0 !default;

.gosec-list-body{
    margin:0;
    padding:0;

    ul{
        margin:0;
        padding:0;
        list-style: none;
    }
}

.st-list-body {
   list-style-type: $st-list-body---list-style-type;

   &__msg {
      text-align: center;
      padding-top: $st-list-body__msg---padding-top;
      padding-left: $st-list-body__msg---padding-left;
      font-size: $st-list-body__text--normal---font-size;
      font-weight: $st-list-body__text--normal---font-weight;
      color: $st-list-body__text--normal---color;
   }
}
