<div class="gosec-list-body col-md-12">
   <ul>
      <div *ngIf="data.length  !== 0">
         <gosec-list-row *ngFor="let row of data.data " [rowData]="row" [metadata]="headerList" (openDetail)="showDetail($event)"
            [hasDetail]="hasDetail" [detailText]="detailText" (clickAction)="clickOnAction($event)" [actionClass]="actionClass">
         </gosec-list-row>
      </div>
   </ul>
   <div class="gosec-list-body__msg " *ngIf="data.length===0 ">{{'LIST.EMPTY_LIST' | translate}}</div>
</div>
