<section class="container-fluid">
  <div class="page-header">
    <h1>Modificable list <span>EDITABLE:</span></h1>
  </div>
  <st-modificable-list [completeList]="filteredCompleteUserList" [selectedList]="filteredSelectedUserList" (listModifier)="modifyUserList($event)"
    [editable]="true" completeListTitle="All users" selectedListTitle="Users of the group" (changeCompleteSearch)="searchInCompleteUserList($event)"
    (changeSelectedSearch)="searchInSelectedUserList($event)" searchButtonLabel="Search" qaTag="modificable-users">
  </st-modificable-list>
  <div class="page-header">
    <h1>Modificable list <span>NOT EDITABLE:</span></h1>
  </div>
  <st-modificable-list [selectedList]="filteredSelectedUserList" [editable]="false" selectedListTitle="Users of the group" (changeSelectedSearch)="searchInSelectedUserList($event)"
    searchButtonLabel="Search" qaTag="modificable-users">
  </st-modificable-list>
</section>

<!--{{code}}-->
<st-load-code file="modificable-list/example-code/modificable-list.ts.txt"></st-load-code>
<st-load-code file="modificable-list/example-code/modificable-list.html.txt"></st-load-code>

