<section class="container-fluid">
  <div class="page-header">
    <h1>ST-TABLE (in progress..)</h1>
    <h4>( Documentation I N C O M P L E T E D )</h4>
  </div>
  <st-table   [data]="usersToShow"
              [metadata]="fieldsMetaData"
              [order]="order"
              [hasDetail]="hasDetail"
              [pagination]="pagination"
              [totalElements]="totalElements"
              (changePage)="onChangePage($event)"
              (onOrderChange)="onOrderChange($event)"
              (openDetail)="openDetail($event)"
  ></st-table>
</section>
<section class="container-fluid docs">
  <h1> Docs </h1>
  <p>
    st-table is the component for show a list of data. 
    <a href="https://media.giphy.com/media/UBQFaVWdcLKj6/giphy.gif" target="_blank"> Any kind of data! </a>. Here is the code example:
  <p> 
  
</section>

<!--{{code}}-->
<p>
  <st-load-code file="list/example-code/list.html.txt"></st-load-code>
</p>
<p>
  Easy... right? Sorry, but...not really. The magic isn't free. But dont worry, i will help you. Let's see 
  the inputs and outputs one by one:
</p>
<h3> What is...?</h3>
<table border="1">
  <tr>
    <td><pre>[data]: Array&lt;&lt;Model&gt;&lt;T&gt;&gt; </pre> </td>
    <td>
      Data is the array of our data <b>that we show in the list </b>. So, it is not all our data. You have to have all your
      data in a variable (allMyData) and filter it depending on the order, page, search... for calculate the input [data] (dataToShow = allMyData.filter(...)).
      The data must meet certain commitments. Look at our next example for more information 
    </td>
  </tr>  
  <tr>
    <td>[fieldsMetaData]</td>
    <td>
      We need to know the fields of the data: label, type, if it has link, etc...
    </td>
  </tr>
  <tr>
    <td>[order]</td>
    <td>
      How is the table ordered? By wich field? Asc or desc?
    </td>
  </tr>
  <tr>
    <td>[hasDetail]</td>
    <td>
      It is a boolean that tell to the list if has to show the arrow at the right of each row. If the user click the row, we will
      have an event.
    </td>
  </tr>
  <tr>
    <td>(openDetail)</td>
    <td>
      When the user click a row. You will receive the value of the id field correspondign.
    </td>
  </tr>
  <tr>
    <td>[pagination]</td>
    <td>
      If you want to paginate the list
    </td>
  </tr>
  <tr>
    <td>[totalElements]</td>
    <td>
      We need to know the fields of the data
    </td>
  </tr>
  <tr>
    <td>(changePage)</td>
    <td>
      We need to know the fields of the data
    </td>
  </tr>
  <tr>
    <td>(onOrderChange)</td>
    <td>
      We need to know the fields of the data
    </td>
  </tr>
</table>