.page-footer {
  border-top: 1px solid get-color(n3);
  color: get-color(a2_dark);
  font-size: get-font-size(body_medium);
  margin-top: $double-separation;
  padding: $base-separation 0 0;
  text-align: center;
}
