<h1 class="page-title">Egeo design guidelines</h1>

<p>
  EGEO is the open-source component library used to build Stratio's UI.
  The purpose it to optimize the UI development time by providing consistent UI components.
</p>

<p>
  Here, you'll find UI components and visual styles. Sometimes it makes sense to break the rules.
  The purpose of this document is to guide you, no to provide solutions for complex and unique design problems.
</p>

<h1 class="page-title">New in 3.0</h1>

<ul>
  <li>4 new UI components</li>
  <li>solved bugs</li>
  <li>Source code examples have been greatly improved</li>
</ul>

<h1 class="page-title">New in 2.0</h1>

<ul>
  <li>3 new UI components</li>
  <li>Source code examples have been greatly improved</li>
</ul>

<h1 class="page-title">About Stratio</h1>

<p>
  STRATIO is a start-up founded in 2013 by a team of seasoned engineers and technology consultants.
  Our values are honesty and work ethics.
</p>

<footer class="page-footer">
  Feedback? Create an issue on the <a href='https://github.com/Stratio/egeo.angular2.components'>Github repository</a> or email us at <a href='mailto:egeo@stratio.com'>egeo@stratio.com</a>.
</footer>
