<h1 class="page-title">Egeo design guidelines</h1>

<p>
   EGEO is the open-source component library and branding guide used to build Stratio's UI.
   The purpose is to optimize the UI development time by providing consistent UI components.
</p>

<p>
   Here, you'll find UI components and visual styles. Sometimes it makes sense to break the rules.
   The purpose of this document is to guide you, no to provide solutions for complex and unique design problems.
</p>

<h1 class="page-title">New in 0.6.0</h1>

<ul>
   <li>Update colors with new values, possibility of getting in RGB format and documentation with RGB info.</li>
</ul>

<h1 class="page-title">New in 0.5.0</h1>

<ul>
   <li>Change repository name for Egeo</li>
   <li>Fix bad URL imports in the new UI-Base Sass files.</li>
   <li>Separate font faces and fonts in a separate CSS and process</li>
   <li>Remove old implementations of egeo.ui.base and rewrite imports to the new /ui-base</li>
   <li>Fix linting errors</li>
   <li>Add postCSS support</li>
   <li>Update to Angular 2.1.0 and Typescript 2.0.3 with types in npm</li>
   <li>Add radio menu component</li>
   <li>New component Title Page</li>
   <li>Total refactor of repository</li>
   <li>New search component</li>
   <li>New button component</li>
</ul>

<h1 class="page-title">New in 0.4.0</h1>

<ul>
   <li>New horizontal tab component</li>
   <li>New tab box component</li>
   <li>Spinner in modificable list while input is undefined</li>
</ul>

<h1 class="page-title">New in 0.3.0</h1>

<ul>
   <li>4 new UI components</li>
   <li>solved bugs</li>
   <li>Source code examples have been greatly improved</li>
</ul>

<h1 class="page-title">New in 0.2.0</h1>

<ul>
   <li>3 new UI components</li>
   <li>Source code examples have been greatly improved</li>
</ul>

<h1 class="page-title">About Stratio</h1>

<p>
   STRATIO is a start-up founded in 2013 by a team of seasoned engineers and technology consultants.
   Our values are honesty and work ethics.
</p>
