@import '~egeo-ui-base/utils/typography';
@import '~egeo-ui-base/utils/colors';

.list-items {
   margin: 0;
   padding: 0;
   list-style: none;

   li {
      background-color: egeo-get-color(n3);
      border-bottom: 1px solid egeo-get-color(n0);
      font-size: egeo-get-font-size(body_small);
      font-family: egeo-get-font(body);
      padding: 5px;
   }

}