<div class="gosec-list-header__row row">
  <div class="col-md-12">
    <div *ngFor='let field of headerList'  (click)="orderField(field)" class="gosec-list-header__col"
            [ngClass]="{active:order.orderBy === field.id}" [ngStyle]="{'width':getColPercentage(field.type)}">
      <div class="gosec-list-header__row-text" title="{{ field.label }}">
        {{ field.label }}
         <span class="gosec-list-header__icon " [ngClass]="{'gosec-list-header__icon--selected': field.id === order.orderBy }">
          <i class="{{getIcon(field.id)}}"></i>
        </span>
      </div>
    </div>
  </div>
</div>
