@import '../../../../node_modules/@stratio/egeo-ui-base/utils/typography';
@import '../../../../node_modules/@stratio/egeo-ui-base/utils/colors';
@import '../../../../node_modules/@stratio/egeo-ui-base/utils/extends';

$gosec-list-header---font-size: egeo-get-font-size(body_small) !default;
$gosec-list-header__row__separator---color: egeo-get-color(n5) !default;
$gosec-list-header__row---height: 46px !default;
$gosec-list-header__row---line-height: 45px !default;
$gosec-list-header__row---border-bottom: 1px solid $gosec-list-header__row__separator---color !default;
$gosec-list-header__row---padding-left: 0px !default;
$gosec-list-header---transition: all 0.5s ease;
$gosec-list-header__icon---font-size: 0.8em !default;
$gosec-list-header__icon---color: egeo-get-color(n6) !default;
$gosec-list-header__icon--selected---color: egeo-get-color(a1) !default;


$gosec-list-header__row-text---color: egeo-get-color(n9) !default;


.gosec-list-header{
  &__row-text {
    @extend %text-ellipsis;
    font-size: $gosec-list-header---font-size;
    font-weight: 700;
    float: left;
    padding-right: 40px;
    color: $gosec-list-header__row-text---color;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  &__row {
    height: $gosec-list-header__row---height;
    line-height: $gosec-list-header__row---line-height;
    border-bottom: $gosec-list-header__row---border-bottom;
    padding-left: $gosec-list-header__row---padding-left;
    position: relative;
    cursor: pointer;
  }

  &__icon {
    font-size: $gosec-list-header__icon---font-size;
    color: $gosec-list-header__icon---color;
    transition: $gosec-list-header---transition;

    &--selected{
      color: $gosec-list-header__icon--selected---color;
    }
  }

  &__col {
    float: left;
    padding: 0 5px 0 5px;

    &.active .gosec-list-header__text{
      font-weight: bold;
    }
  }
}


