@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';

$st-print---horizontal-tabs: true !default;

$st-horizontal-tabs---width: 100%;

$st-horizontal-tabs__list---list-style: none;
$st-horizontal-tabs__list---padding: 10px 0px 30px;

$st-horizontal-tabs__option---height: 35px;
$st-horizontal-tabs__option---line-height: 33px;
$st-horizontal-tabs__option---box-sizing: border-box;
$st-horizontal-tabs__option---visible-border: 1.6px solid egeo-get-color(n3);

$st-horizontal-tabs--active---color: rgb(0, 0, 0);
$st-horizontal-tabs--active---border-color: rgb(255, 255, 255);

$st-horizontal-tabs__text---margin-top: 2px;
$st-horizontal-tabs__text---margin-left: 15px;
$st-horizontal-tabs__text---cursor: pointer;
$st-horizontal-tabs__text---color: egeo-get-color(n6);
$st-horizontal-tabs__text---text-decoration: none;
$st-horizontal-tabs__text---font-family: egeo-get-font(brandon-grotesque);
$st-horizontal-tabs__text---font-size: 15px;
$st-horizontal-tabs__text---text-transform: uppercase;


@mixin st-horizontal-tabs() {
  width: $st-horizontal-tabs---width;
  padding: $st-horizontal-tabs__list---padding;

  &__list {
    list-style: $st-horizontal-tabs__list---list-style;
    border-bottom: $st-horizontal-tabs__option---visible-border;
  }

  &__option {
    display: inline-block;
    width: 150px;
    height: $st-horizontal-tabs__option---height;
    line-height: $st-horizontal-tabs__option---line-height;
    box-sizing: $st-horizontal-tabs__option---box-sizing;
    margin-bottom: -2px;
      &:hover:not(.st-horizontal-tabs__option--disabled) {
        > a {
           color: $st-horizontal-tabs--active---color;
        }
      }
    &__text {
      margin-top: $st-horizontal-tabs__text---margin-top;
      margin-left: $st-horizontal-tabs__text---margin-left;
      cursor: $st-horizontal-tabs__text---cursor;
      color: $st-horizontal-tabs__text---color;
      text-decoration: $st-horizontal-tabs__text---text-decoration;
      font-family: $st-horizontal-tabs__text---font-family;
      font-size: $st-horizontal-tabs__text---font-size;
      text-transform: $st-horizontal-tabs__text---text-transform;
    }
    &--active {
      border:  $st-horizontal-tabs__option---visible-border;
      border-bottom-color: $st-horizontal-tabs--active---border-color;

      > a {
         color: $st-horizontal-tabs--active---color !important;
      }
    }

    &--disabled{
      opacity: .5;
      > a{
         cursor: default;
      }
    }
  }
}

@if ($st-print---horizontal-tabs) {
  :host {
    display: block;
  }

  .st-horizontal-tabs {
    @include st-horizontal-tabs;
  }
}

