@import '../../../../../styles/require';

$title-background-color: egeo-get-color(n3) !default;
$title-height: 50px;
$title-width: 100%;

$opensans: egeo-get-font(open-sans) !default;
$title-text-color: egeo-get-color(a3) !default;
$title-text-size: egeo-get-font-size(body_xxlarge) !default;
$title-padding: 0 1rem !default;
$title-text-weight: egeo-get-font-weight(normal) !default;


$header-text-size: egeo-get-font-size(body_xsmall) !default;
$header-text-weight: egeo-get-font-weight(bold) !default;

$text-color: egeo-get-color(n8) !default;
$body-text-size: egeo-get-font-size(body_small) !default;
$body-text-weight: egeo-get-font-weight(normañ) !default;

$row-separator: 1px solid egeo-get-color(n4);


.field {
   &-name {
      float: left;
      width: 25%;
   }
   &-type {
      float: left;
      width: 15%;
   }
   &-required {
      float: left;
      width: 15%;

      &:after {
         content: ' ';
         display: inline-block;
      }
   }
   &-details {
      float: left;
      width: 45%;
   }
}


.title {
   width: $title-width;
   height: $title-height;
   background-color: $title-background-color;
   margin: 15px 0 8px 0;

   &-text {
      font-family: $opensans;
      font-size: $title-text-size;
      font-weight: $title-text-weight;
      color: $title-text-color;
      line-height: $title-height;
      padding: $title-padding;
   }
}

.param-table {
   margin-bottom: 15px;
   display: inline-block;
   overflow: auto;

   &-header {
      font-family: $opensans;
      font-size: $header-text-size;
      font-weight: $header-text-weight;
      color: $text-color;
      border-bottom: $row-separator;
      padding-bottom: 10px;
   }

   &-row {
      margin-top: 15px;
      font-family: $opensans;
      font-size: $body-text-size;
      font-weight: $body-text-weight;
      color: $text-color;
      border-bottom: $row-separator;
      padding-bottom: 20px;
   }

}

