/* TODO: move these placeholders to a better place */
%remove-list-style {
   & {
      list-style: none;
      padding: 0;
   }
}

%remove-link-style {
   &,
   & a {
      color: inherit;
      text-decoration: none;
   }
}

.tmp-dropdown-menu {
   @extend %remove-list-style;
   @extend %remove-link-style;

   &__section {
      color: egeo-get-color(n7);
      cursor: pointer;
      padding: 10px 0;
      text-transform: uppercase;

      &-title {
         font-family: egeo-get-font(heading);
         font-size: egeo-get-font-size(head_large);
         margin: 40px 0 10px;
      }

      &--active {
         color: egeo-get-color(n9);
      }
      
      &-item {
         border-top: 1px solid egeo-get-color(n3);
         font-family: egeo-get-font(heading);
         font-size: egeo-get-font-size(head_xxsmall);
         padding: 15px 0;

         &--active {
            color: egeo-get-color(n10);

            &:before {
                content: '\e095';
                font-family: egeo-get-font(icon);
                margin-right: 4px;
            }
         }

         &--submenu {
            border-bottom-width: 0;

            .icon {
               float: right;
            }
         }

         &--open {
            .icon {
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
         }
      }
   }
}

.tmp-dropdown-submenu {
   @extend %remove-list-style;
   @extend %remove-link-style;

   font-family: egeo-get-font(body);
   font-size: egeo-get-font-size(body_small);
   margin: 10px 0;
   text-transform: none;

   &-item {
      border-left: 1px solid egeo-get-color(a2);
      padding: 10px 20px;

      &--active {
         border-left-color: egeo-get-color(a1);
         color: egeo-get-color(n10);
      }
   }
}
