@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';

.expanded-menu {
   position: relative;
   display: block;
}

:host-context(.st-header-normal) .app-label {
   display: inline-block;
   line-height: 1.1;
   position: relative;
   margin-left: 10px;
   bottom: 5px;
   text-transform: uppercase;
}
:host-context(.st-header-collapsed) .app-label {
   display: inline-block;
   line-height: 0;
   position: relative;
   margin-left: 24px;
   bottom: 5px;
   text-transform: uppercase;
}


:host-context(.st-header-normal) .company-name {
   padding-top: 4px;
   text-transform: uppercase;
}
:host-context(.st-header-collapsed) .company-name {
   display: none;
}

:host-context(.st-header-normal) .logo {
   font-size: 48px;
}

:host-context(.st-header-collapsed) .logo {
   font-size: 33px;
}
