<div class="notification-message" [ngClass]="getSeverityColor()" (mouseenter)="enter()" (mouseleave)="leave()" [ngStyle]="{opacity: notification.opacity}">
  <span class="close-button" (click)="closeNotification()">
    <i class="icon-cross"></i>
  </span>
  <div class="ico-type">
    <i [ngClass]="getIcon()"></i>
  </div>
  <div class="notification-message-info">
    <header class="header">
      <h5>{{notification.title}}</h5>
    </header>
    <div class="body">
      <p>{{notification.message}}</p>
      <footer *ngIf="notification.link" class="footer">
        <a (click)="goTo()" >{{notification.link.title}}</a>
      </footer>
    </div>
  </div>
</div>
