@import '../../../../../styles/require';

// general
$st-notification---width: 100%;
$st-notification---color: egeo-get-color(n0) !default;
$st-notification---font-family: egeo-get-font(opensans) !default;
$st-notification---min-height: 100px;
$st-notification---box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.5);

// color by type
$st-notification__ok---background-color: egeo-get-color(s1) !default;
$st-notification__ok---hover-background-color: egeo-get-color(s1_dark) !default;
$st-notification__warn---background-color: egeo-get-color(s2_light) !default;
$st-notification__warn---hover-background-color: egeo-get-color(s2) !default;
$st-notification__error---background-color: egeo-get-color(s3_light) !default;
$st-notification__error---hover-background-color: egeo-get-color(s3) !default;

// icons
$st-notification__ico---font-family: 'ico-stratio';
//ico type
$st-notification__ico-type---font-size: egeo-get-font-size(icon_medium) !default;
$st-notification__ico-type---top: 28px;
$st-notification__ico-type---left: 14px;
// ico close
$st-notification__ico-close---font-size: egeo-get-font-size(icon_small) !default;
$st-notification__ico-close---top: 13px;
$st-notification__ico-close---right: 13px;


//message
$st-notification__message---padding:  26px 22px 19px 45px;
//header
$st-notification__header---font-size: egeo-get-font-size(body_xlarge) !default;
$st-notification__header---margin-bottom: 7px;
$st-notification__header---padding-right: 45px;


$st-notification__body---font-size: egeo-get-font-size(body_xsmall) !default;

.notification-message {
  width: $st-notification---width;
  color: $st-notification---color;
  font-family: $st-notification---font-family;
  display: block;
  position: relative;
  min-height: $st-notification---min-height;
  box-shadow: $st-notification---box-shadow;


  &.success {
    background: $st-notification__ok---background-color;
     &:hover{
       background: $st-notification__ok---hover-background-color;
     }
  }

   &.warning {
    background: $st-notification__warn---background-color;
    &:hover{
       background: $st-notification__warn---hover-background-color;
     }
  }

  &.error {
    background: $st-notification__error---background-color;
    &:hover{
       background: $st-notification__error---hover-background-color;
     }
  }

  .close-button {
    position: absolute;
    top: $st-notification__ico-close---top;
    right: $st-notification__ico-close---right;
    font-family: $st-notification__ico---font-family;
    font-size: $st-notification__ico-close---font-size;
    cursor: pointer;
  }

  .ico-type {
    position: absolute;
    top: $st-notification__ico-type---top;
    left: $st-notification__ico-type---left;
    font-family: $st-notification__ico---font-family;
    font-size: $st-notification__ico-type---font-size;
  }

  .notification-message-info {
    padding: $st-notification__message---padding;

    .header {
      font-size: $st-notification__header---font-size;
      margin-bottom: $st-notification__header---margin-bottom;
      padding-right: $st-notification__header---padding-right;
    }

    .body {
      font-size: $st-notification__body---font-size;
    }
    .footer {
      text-decoration: underline;
      cursor: pointer;
    }
  }


}
