@import '../st-egeo';
@import '../../ui-base/utils/typography';
@import '../../ui-base/utils/colors';

$st-print---modal: true !default;

$st-modal---dp: 30px;
$st-modal---padding: 30px !default;
$st-modal--header---font-family: egeo-get-font(brandon-grotesque) !default;
$st-modal--header---color: egeo-get-color(n8) !default;

.st-modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &--content {
    animation-duration: 0.4s;
    animation-name: fadeIn;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: auto;
    position: relative;
  }

  &--body {
    padding: $st-modal---padding;
  }

  &--header {
    color: $st-modal--header---color;
    font-family: $st-modal--header---font-family;
    height: 70px;
    padding: $st-modal---padding;
  }

  &--title {
    margin-left: 10px;
  }

  &--header-ico {
    vertical-align: middle;
  }

  &--icon {
    cursor: pointer;
    font-family: 'ico-stratio';
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &--visible {
    display: block;
  }

  &--invisible {
    display: none;
  }

   @keyframes fadeIn {
      from {
         opacity: 0;
      }
      
      to {
         opacity: 1;
      }
   }
}
