<div class="st-modal st-modal--visible">
  <div class="st-modal--content" [ngStyle]="getModalSize()">
    <div class="st-modal--header" [ngStyle]="getTitleStyles()">
      <div [ngStyle]="getIconLineHeight()">
        <span *ngIf="hasIcon()" class="st-modal--header-ico">
          <i [ngClass]="config.title.icon"></i>
          </span>
        <span class="st-modal--title">{{config.title.title}}</span>
      </div>
      <span class="st-modal--icon" (click)="closeModal()" [attr.id]="'button-close-modal'">
        <i class="icon-circle-cross"></i>
      </span>
    </div>
    <div class="st-modal--body">
      <div #stModalBody></div>
    </div>
  </div>
</div>
