@import '../st-egeo';
@import '../egeo2/sass.utils/utils.typography';
@import '../egeo2/sass.utils/utils.colors';

$st-print---modal: true !default;

$st-modal---dp: 30px;
$st-modal---padding: 30px !default;
$st-modal--header---font-family: egeo-get-font(brandon-grotesque) !default;
$st-modal--header---color: get-color(n8) !default;

.st-modal {
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &--content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  &--body {
    padding: $st-modal---padding;
  }
  &--header {
    padding: $st-modal---padding;
    height: 70px;
    font-family: $st-modal--header---font-family;
    color: $st-modal--header---color;
  }
  &--title {
    margin-left: 10px;
  }
  &--header-ico {
    vertical-align: middle;
  }
  &--icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-family: 'ico-stratio';
  }
  &--visible {
    display: block;
  }
  &--invisible {
    display: none;
  }

   @keyframes fadeIn {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }
}
