<h1 class="page-title">Logo</h1>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-6">
      <p>The STRATIO logotype is made up of both a graphic symbol or isotype and the STRATIO type. Together they create the imagetype to form the complete brand.</p>

      <p>These two elements should appear as shown here in all corporate materials including the STRATIO platform, website, and collateral materials.</p>

      <p>Sometimes we may include the concept line but it is very important to respect the logo proportions and the minimum sizes.</p>

      <p>The isotype may appear separately in special situations such as on promotional items or minimum sizes.
      The corporate configuration is the preferred usage however.</p>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="logobox">
         <img src="/assets/images/logos-stratio/logo_stratio.png">

         <ul>
            <li><a href="/assets/images/logos-stratio/logo_stratio.png">Download in PNG</a></li>
            <li><a href="/assets/images/logos-stratio/logo_stratio.jpg">Download in JPG</a></li>
            <li><a href="/assets/images/logos-stratio/logo_stratio.eps">Download in EPS</a></li>
            <li><a href="/assets/images/logos-stratio/logo_stratio.ai">Download in AI</a></li>
         </ul>
      </div>
   </div>
</div>

<h2 class="subtitle">Isotype</h2>

<div class="row">
   <div class="col-xs-12 col-md-6 col-lg-6">
      <p>Sometimes the logo is reduced there is a point at which it becomes ineffective. By establishing a minimum size for the logo it is ensured the logo is always prominent and readable.</p>

      <p>The STRATIO logo can be reduced in printing up to 60 mm (base), while it can be raster scanned (72 dpi) up to 180 pixels.</p>

      <p>If a further reduction is required, it is advisable to use the optional logo made to support further reductions and keep the official logo recognizable and unaltered.</p>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="logobox">
         <img src="/assets/images/logos-stratio/iso_stratio.png">

         <ul>
            <li><a href="/assets/images/logos-stratio/iso_stratio.png">Download in PNG</a></li>
            <li><a href="/assets/images/logos-stratio/iso_stratio.ai">Download in AI</a></li>
         </ul>
      </div>
   </div>
</div>

<h2 class="subtitle">Negatives</h2>

<div class="row">
   <div class="col-xs-12 col-md-12 col-lg-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis ante vitae tempus pellentesque. Proin ultricies iaculis blandit. Vivamus elementum lectus tellus, eu mattis enim accumsan sit amet. Donec volutpat vitae mi sit amet scelerisque. In at lacinia nisl. Nulla pulvinar aliquet nulla, sit amet fermentum eros faucibus in. Proin pulvinar dignissim nulla, ac efficitur felis venenatis id. Pellentesque in dapibus diam. Praesent ornare nunc id porttitor dapibus. Fusce non laoreet arcu, nec viverra ante.</p>
   </div>
</div>

<div class="row separation">
   <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="logobox logobox--negative">
         <img src="/assets/images/logos-stratio/logo_stratio_neg.png">

         <ul>
            <li><a href="/assets/images/logos-stratio/logo_stratio_neg.png">Download in PNG</a></li>
         </ul>
      </div>
   </div>

   <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="logobox logobox--negative">
         <img src="/assets/images/logos-stratio/iso_stratio_neg.png">

         <ul>
            <li><a href="/assets/images/logos-stratio/iso_stratio_neg.png">Download in PNG</a></li>
         </ul>
      </div>
   </div>
</div>
