$sidebar---padding: $base-separation;
$sidebar---width: 350px;

$sidebar-intro---margin-bottom: $base-separation;

.sidebar {
  background: egeo-get-color(b3);
  box-sizing: border-box;
  margin-left: -$sidebar---width;
  min-height: 100%;
  overflow-y: auto;
  padding: $sidebar---padding;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &--open {
      margin-left: 0;
  }

  &-intro {
    margin-bottom: $sidebar-intro---margin-bottom;
    text-align: center;

    .logo {
      max-width: 70%;
    }

    .version {
      font-size: egeo-get-font-size(head_xxsmall);
    }
  }
}
