<!-- Sidebar -->
<aside class="sidebar sidebar--open">
  <div class="sidebar-intro">
    <img class="text-center logo" src="../../assets/images/egeo_logo_c.png">
    <p class="version">Version 3.0</p>
  </div>

  <nav class="tmp-dropdown-menu">
    <ul>
      <li routerLink="/main" class="tmp-dropdown-menu-item tmp-dropdown-menu-item--active">
        Overview
      </li>
      <li class="tmp-dropdown-menu-item tmp-dropdown-menu-item--open tmp-dropdown-menu-item--submenu">
        UI Elements
        <i class="icon icon-arrow2_down"></i>

        <ul class="tmp-dropdown-submenu">
          <li class="tmp-dropdown-submenu-item tmp-dropdown-submenu-item--active">
            <a routerLink="/main">Dashboard</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/input">Inputs</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/modal">Modals</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/info-box">Info box</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/spinner">Spinner</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/modificable-list">Modificable List</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/footer">Footer</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/info-card">Info card</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/regexp">Regular expresions</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/vertical-menu">Vertical menu</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/list">Table</a>
          </li>
          <li class="tmp-dropdown-submenu-item">
            <a routerLink="/tooltip">Tooltip</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
