<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-liquid">
         <div class="row">
            <div class="col-sm-12 contains-horizontal-tabs">
               <st-horizontal-tabs class="horizontal-tabs" [options]="options" [qaTag]="qaTag">
               </st-horizontal-tabs>
            </div>
         </div>
      </section>
   </div>
   <div class="example-model">
      <!--{{code}}-->
      <st-load-code file="navigation/horizontal-tabs/example-code/horizontal-tabs.model.txt"></st-load-code>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="navigation/horizontal-tabs/example-code/horizontal-tabs.ts.txt"></st-load-code>
      <st-load-code file="navigation/horizontal-tabs/example-code/horizontal-tabs.html.txt"></st-load-code>
   </div>
</st-api-doc>
