@import '../../../../../styles/require';

$st-message-modal__message--font-family: egeo-get-font(OpenSans) !default;
$st-message-modal__message--font-size: egeo-get-font-size(body_xxlarge) !default;
$st-message-modal__message--font-weight: normal;
$st-message-modal__message--marging-bottom: 80px;

$st-message-modal__footer--bottom: 30px;
$st-message-modal__footer--right: 30px;

$st-message-modal__buttons--height: 35px;
$st-message-modal__buttons--margin-left: 10px;


.message-modal {
  display: block;

  .message {
    font-family: $st-message-modal__message--font-family;
    font-size: $st-message-modal__message--font-size;
    font-weight: $st-message-modal__message--font-weight;
    margin-bottom: $st-message-modal__message--marging-bottom;
  }

  .footer {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: $st-message-modal__footer--bottom;
    right: $st-message-modal__footer--right;
  }

  .buttons {
    float: right;
    display: block;
    height: $st-message-modal__buttons--height;
    margin-left: $st-message-modal__buttons--margin-left;
  }
}
