<div class="list-selection">
   <st-search [placeholder]="searchPlaceholder" [qaTag]="searchQaTag" (search)="search.emit($event)"></st-search>
   <p class="title">{{title}}</p>
   <ul class="list">
      <virtual-scroll [items]="list" (update)="scrollItems = $event" [childHeight]="30">
            <list-item *ngFor="let item of scrollItems; let i = index"
            [item]="item" (selectItem)="selectItem.emit(item)" [qaTag]="listQaTag" [editable]="editable"></list-item>
      </virtual-scroll>
   </ul>
</div>
