<div class="list-selection">
   <st-search [placeholder]="searchPlaceholder" [qaTag]="searchQaTag" (search)="search.emit($event)"></st-search>
   <p class="title">{{title}}</p>
   <ul class="list">
      <st-virtual-scroll [list]="list" (update)="scrollItems = $event" (firstElement)="firstEl = $event" [itemsHeight]="35">
         <li *ngFor="let item of scrollItems; let i = index" class="item">
            <list-item [item]="item" (selectItem)="selectItem.emit(item)" [qaTag]="listQaTag" [editable]="editable"></list-item>
         </li>
      </st-virtual-scroll>
   </ul>
</div>
