@import '../../node_modules/egeo-ui-base/utils/typography';
@import '../../node_modules/egeo-ui-base/utils/colors';

$st-print---radio-menu: true !default;

$st-radio-menu---height: 100%;
$st-radio-menu---width: 100%;
$st-radio-menu---display: block;
$st-radio-menu---position: relative;

$st-radio-menu__list---height: 100%;
$st-radio-menu__list---position: relative;
$st-radio-menu__list---list-style: none;
$st-radio-menu__list---float: left;
$st-radio-menu__list---width: 100%;
$st-radio-menu__list---padding-right: 30px;

$st-radio-menu__option---height: 40px;
$st-radio-menu__option---margin-top: -1px;
$st-radio-menu__option---line-height: 38px;
$st-radio-menu__option---box-sizing: border-box;
$st-radio-menu__option---border-style: solid;
$st-radio-menu__option---visible-border: 1.6px solid egeo-get-color(n3);
$st-radio-menu__option---invisible-border: 0;

$st-radio-menu--active---font-weight: bold;
$st-radio-menu--active---color: rgb(102, 102, 102);

$st-radio-menu__text---margin-top: 2px;
$st-radio-menu__text---margin-left: 15px;
$st-radio-menu__text---cursor: pointer;
$st-radio-menu__text---color: egeo-get-color(n6);
$st-radio-menu__text---text-decoration: none;
$st-radio-menu__text---font-family: egeo-get-font(heading);
$st-radio-menu__text---font-weight: 400;
$st-radio-menu__text---font-style: normal;
$st-radio-menu__text---font-size: 15px;
$st-radio-menu__text---text-align: left;
$st-radio-menu__text---line-height: 16px;
$st-radio-menu__text---text-transform: uppercase;
$st-radio-menu__text--hover---color: rgb(0, 0, 0);

$st-radio-menu__option---height: 29px;
$st-radio-menu__option---selected: egeo-get-color(n2) !default;
$st-radio-menu__option---selected--before---transform: rotate(45deg);
$st-radio-menu__option---selected--before---float: right;
$st-radio-menu__option---selected--before---size: 20px;
$st-radio-menu__option---selected--before---margin-top: 1.7px;
$st-radio-menu__option---selected--before---margin-right: -10.4px;

@mixin st-radio-menu() {
  height: $st-radio-menu---height;
  width: $st-radio-menu---width;
  display: $st-radio-menu---display;
  position: $st-radio-menu---position;

  &__list {
    height: $st-radio-menu__list---height;
    position: $st-radio-menu__list---position;
    list-style: $st-radio-menu__list---list-style;
    float: $st-radio-menu__list---float;
    width: $st-radio-menu__list---width;
    padding-right: $st-radio-menu__list---padding-right;
  }

  &__option {
    padding: 3px 0 0 8px;
    height: $st-radio-menu__option---height;
    font-family: egeo-get-font(body);
    font-size: 15px;
    color: egeo-get-color(n7);
    margin-bottom: 6px;
    cursor: pointer;

    &-text{
      padding-left: 7px;
    }
    &--no-active {
      color: egeo-get-color(n4);
    }
    &--active {
      width: 80%;
      color: egeo-get-color(n9);
      background-color: egeo-get-color(n1);
      &:after {
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid egeo-get-color(n1);
      }
      &:before {
        transform: $st-radio-menu__option---selected--before---transform;
        content: " ";
        float: $st-radio-menu__option---selected--before---float;
        width: $st-radio-menu__option---selected--before---size;
        height: $st-radio-menu__option---selected--before---size;
        margin-top: $st-radio-menu__option---selected--before---margin-top;
        margin-right: $st-radio-menu__option---selected--before---margin-right;
        background-color: egeo-get-color(n1);
      }
    }

    :host-context(.theme-gray-1) &--active {
      background-color: egeo-get-color(n2);
      &:after {
        border-left: 60px solid egeo-get-color(n2);
      }
      &:before {
        background-color: egeo-get-color(n2);
      }
    }

    :host-context(.theme-gray-1) &--no-active {
      color: egeo-get-color(n5);
    }

    :host-context(.theme-gray-2) &--active {
      background-color: egeo-get-color(n1);
      &:after {
        border-left: 60px solid egeo-get-color(n1);
      }
      &:before {
        background-color: egeo-get-color(n1);
      }
    }

    :host-context(.theme-gray-2) &--no-active {
      color: egeo-get-color(n4);
    }
  }
}

@if ($st-print---radio-menu) {
  :host {
    display: block;
  }

  .st-radio-menu {
    @include st-radio-menu;
  }
}

