<st-api-doc [doc]="apiDoc">
  <div class="example-code">
    <!--{{code}}-->
    <st-load-code file="navigation/radio-menu/example-code/radio-menu.ts.txt"></st-load-code>
    <st-load-code file="navigation/radio-menu/example-code/radio-menu.html.txt"></st-load-code>
  </div>
  <div class="example-run">
    <section class="container-liquid">
      <div class="col-sm-4 contains-radio-menu">
        <h3>By default (without parent's theme)</h3>
        <st-radio-menu [activeOption]="selectedOptionTheme2" class="radio-menu" [options]="options"
                       qaTag="radio-menu-without-theme">
        </st-radio-menu>
      </div>
      <div class="col-sm-4 theme-gray-1 contains-radio-menu">
        <h3>Gray 1 theme</h3>
        <st-radio-menu [activeOption]="selectedOptionTheme1" class="radio-menu" [options]="options"
                       qaTag="radio-menu-theme-gray-1">
        </st-radio-menu>
      </div>
      <div class="col-sm-4 theme-gray-2 contains-radio-menu">
        <h3>Gray 2 theme</h3>
        <st-radio-menu [activeOption]="selectedOptionTheme2" class="radio-menu" [options]="options"
                       qaTag="radio-menu-theme-gray-1">
        </st-radio-menu>
      </div>
    </section>
  </div>
</st-api-doc>
