<section class="container-fluid">
  <div class="page-header">
    <h1>Template-driven Form Example:</h1>
  </div>

<st-info-box icon ="icon-hdfs" title ="HDFS">
  <p>You can put any content here</p>
</st-info-box>

  <st-info-box icon ="icon-cassandra" title ="CASSANDRA">
    <p>You can put any content here</p>
  </st-info-box>

  <st-info-box icon ="icon-kafka" title ="KAFKA">
    <p>You can put any content here</p>
  </st-info-box>

  <st-info-box icon ="icon-server" title ="LOREM">
    <p>You can put any content here</p>
  </st-info-box>
</section>

<!--{{code}}-->
<st-load-code file="info-box/info-box.component.ts"></st-load-code>
<st-load-code file="info-box/info-box.component.html"></st-load-code>
