<st-api-doc [doc]="apiDoc">
   <div class="example-run">

      <section class="container-liquid">
         <div class="row">
            <div class="col-md-12">
               <st-dropdown button="Example about white" [items]="items"></st-dropdown>
               <br /><br />
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <st-dropdown button="Example 2" [items]="items" width="130"></st-dropdown>
               <br /><br />
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <st-dropdown button="Example with scroll" [items]="items10"></st-dropdown>
               <br /><br />
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <st-dropdown button="Example With Icons" default="true" [items]="itemsWithIcon"></st-dropdown>
               <br /><br />
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <st-dropdown button="Example With Icons and Large Text" default="true" [items]="itemsWithIcon"></st-dropdown>
               <br /><br />
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <st-dropdown button="Example Disabled" disabled="true" [items]="itemsWithIcon"></st-dropdown>
               <br /><br />
            </div>
         </div>

      </section>
   </div>
   <div class="example-model">
      <!--{{code}}-->
      <st-load-code file="dropdown/example-code/dropdown.interface.ts.txt"></st-load-code>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="dropdown/example-code/dropdown.component.html.txt"></st-load-code>
   </div>
</st-api-doc>
