<footer class="footer sth-footer">
  <div class="content">
    <p class="text sth-footer-text" *ngIf="rightsText">{{ rightsText }}</p>

    <ul class="sth-footer-links links" *ngIf="links.length">
       <li *ngFor="let link of links; let index = index">
          <span class="separator">|</span>
          <span class="link" (click)="goToLink(link)" [attr.id]="qaTag + '-link-' + index">{{ link.title }}</span>
       </li>
    </ul>
  </div>
  <div class="logo sth-footer-logo" *ngIf="image">
    <img [src]="image">
  </div>
</footer>
