<div class="sth-pagination pagination">

   <div class="selector" *ngIf="showItemsPerPage()">
      <st-dropdown themeClass="themeB" [items]="items" (change)="onChangePerPage($event)"></st-dropdown>
   </div>

   <div class="navigator sth-pagination-navigator">
      <p class="sth-pagination-pages">{{firstItem}}-{{lastItem}} {{label.of || 'of'}} {{total}}</p>
      <st-button typeClass="btnTool" subtypeClass="subtype4" qaTag="buttonPrev" leftIcon="icon-arrow2_left"
         inputType="button" (onClick)="prevPage()" [isDisabled]="disablePrevButton"></st-button>
      <st-button typeClass="btnTool" subtypeClass="subtype4" qaTag="buttonNext" leftIcon="icon-arrow2_right"
         inputType="button" (onClick)="nextPage()" [isDisabled]="disableNextButton"></st-button>
   </div>


</div>