@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';

$gosec-pagination---height: 50px !default;
$gosec-pagination__button---size: 40px !default;
$gosec-pagination__button---transition: all 0.3s ease, font-size 0.5s, background-color 1s ease, color 1s ease !default;
$gosec-pagination__button---top: 5px !default;
$gosec-pagination__button---border: 2px solid #B5B5B5 !default;
$gosec-pagination__button---color: #CBCBCB !default;
$gosec-pagination__button---margin: 0px !default;
$gosec-pagination__button---font-size: 17px !default;
$gosec-pagination__button---background-color: #FBFBFB !default;
$gosec-pagination__button--hover---border-color: #999999 !default;
$gosec-pagination__button--hover---color: #555555 !default;
$gosec-pagination__button---font-family: egeo-get-font-family('open-sans') !default;

$gosec-pagination__page--selected---background-color: #FFF !default;
$gosec-pagination__page--selected---color: #333 !default;

$gosec-pagination__invisible---size: 1px !default;
$gosec-pagination__invisible---border: 1px solid #FFF !default;


.gosec-pagination{
  height: $gosec-pagination---height;
  position:relative;
  overflow:hidden;
  vertical-align:middle;
  display:inline-block;

  &__button{
    width: $gosec-pagination__button---size;
    height: $gosec-pagination__button---size;
    font-size: $gosec-pagination__button---font-size;
    transition: $gosec-pagination__button---transition;
    position: absolute;
    cursor: default;
    top: $gosec-pagination__button---top;
    border: $gosec-pagination__button---border;
    color: $gosec-pagination__button---color;
    border-radius: $gosec-pagination__button---size;
    line-height: (90 * $gosec-pagination__button---size) / 100;
    text-align:center;
    margin: $gosec-pagination__button---margin;
    background-color: $gosec-pagination__button---background-color;
    font-family: $gosec-pagination__button---font-family;

    &:hover{
      border-color: $gosec-pagination__button--hover---border-color;
      color: $gosec-pagination__button--hover---color;
    }
  }

  &__page {
    cursor: pointer;
    &--selected{
      background-color: $gosec-pagination__page--selected---background-color;
      color: $gosec-pagination__page--selected---color;
    }
  }

  &__invisible{
    width:$gosec-pagination__invisible---size !important;;
    height:$gosec-pagination__invisible---size !important;
    border: $gosec-pagination__invisible---border;
    border-radius: $gosec-pagination__invisible---size;
    border: none;
    overflow: hidden;
    font-size: $gosec-pagination__invisible---size;
    margin: $gosec-pagination__button---size / 2;
  }
}

