<h1 class="page-title">Typography</h1>

<p>
   We have use two different typefaces. Brandon Text (Stratio brand font) for headings and Open sans (Google open-source font) for body text. Both are highly-readable and clear.
</p>

<h2 class="subtitle">Brandon Text</h2>

<p>This typeface is for headings and only can be used in uppercase format.</p>

<div class="table-row row table-header">
   <div class="table-th col-xs-6 col-md-6 col-lg-6">Font sizes</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Value (rem)</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Value (px)</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Modifier</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_giant">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">2.75rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">44px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_giant</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_xxxlarge">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">2.12rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">33px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxxlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_xxlarge">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.88rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">30px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_xlarge">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.75rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">28px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_large">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.5rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">24px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_large</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_medium">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.38rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">22px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_medium</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_small">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.13rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">18px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_small</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_xsmall">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">16px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_xxsmall">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.94rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">15px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_xxxsmall">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.82rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">13px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxxsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane brandon text--head_mini">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.75rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">12px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_mini</div>
</div>

<h2 class="subtitle">Brandon Font Weights</h2>

<div class="table-row row table-header">
   <div class="table-th col-xs-6 col-md-6 col-lg-8">Font weights</div>
   <div class="table-th col-xs-3 col-md-3 col-lg-2">Value</div>
   <div class="table-th col-xs-3 col-md-3 col-lg-2">Modifier</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane brandon text--head_small">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">400</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">normal</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane brandon text--head_small text--light">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">200</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">light</div>
</div>

<h2 class="subtitle">Open Sans</h2>

<p>Use this typeface mainly for bodytext and subheadings.</p>

<div class="table-row row table-header">
   <div class="table-th col-xs-6 col-md-6 col-lg-8">Font sizes</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Value</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Modifier</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_xxxlarge">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.38rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">22px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxxlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_xxlarge">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.19rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">19px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_xlarge">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.10rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">17px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_large">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">16px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_large</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_medium">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.94rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">15px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_medium</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_small">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.88rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">14px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_small</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_xsmall">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.82rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">13px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_xxsmall">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.75rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">12px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--head_xxxsmall">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.69rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">11px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">head_xxxsmall</div>
</div>

<h2 class="subtitle">Open Sans Font Weights</h2>

<div class="table-row row table-header">
   <div class="table-th col-xs-6 col-md-6 col-lg-8">Font weights</div>
   <div class="table-th col-xs-3 col-md-3 col-lg-2">Value</div>
   <div class="table-th col-xs-3 col-md-3 col-lg-2">Modifier</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane open-sans text--head_small text--bolder">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">900</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">bolder</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane open-sans text--head_small text--bold">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">700</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">bold</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane open-sans text--head_small text--semibold">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">500</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">semibold</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane open-sans text--head_small">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">400</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">normal</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-8 ellipsis-pane open-sans text--head_small text--light">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">200</div>
   <div class="table-cell col-xs-3 col-md-3 col-lg-2">light</div>
</div>

<h2 class="subtitle">Ico Stratio</h2>

<p>Use this typeface only to show icons embedded in the ico-stratio font.</p>

<div class="table-row row table-header">
   <div class="table-th col-xs-6 col-md-6 col-lg-8">Font sizes</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Value</div>
   <div class="table-th col-xs-2 col-md-2 col-lg-2">Modifier</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_xxlarge"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.88rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">30px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_xxlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_xlarge"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.63rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">26px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_xlarge</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_large"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.38rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">22px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_large</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_medium"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.2rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">19px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_medium</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_small"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">1.1rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">17px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_small</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_xsmall"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.94rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">15px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_xsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_xxsmall"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.82rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">13px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_xxsmall</div>
</div>

<div class="table-row row">
   <div class="table-cell col-xs-6 col-md-6 col-lg-6 ellipsis-pane open-sans text--icon_xxxsmall"><i class="icon-datetime"></i></div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">0.7rem</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">11px</div>
   <div class="table-cell col-xs-2 col-md-2 col-lg-2">icon_xxxsmall</div>
</div>

<h2 class="subtitle">Line Heights</h2>

<p>When and how use different line heights...</p>

<h3 class="title3">double</h3>

<p class="text--double">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor nunc elit. Sed ut euismod sem, congue blandit odio. Curabitur enim eros, imperdiet aliquam maximus non, luctus a diam. Suspendisse eleifend lectus metus. Morbi maximus eget sem a laoreet. Proin a nibh nec dolor vulputate auctor sit amet ut erat. Fusce scelerisque justo leo, sit amet rhoncus leo finibus dictum. Aliquam eget placerat nunc.</p>

<h3 class="title3">normal</h3>

<p class="text--normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor nunc elit. Sed ut euismod sem, congue blandit odio. Curabitur enim eros, imperdiet aliquam maximus non, luctus a diam. Suspendisse eleifend lectus metus. Morbi maximus eget sem a laoreet. Proin a nibh nec dolor vulputate auctor sit amet ut erat. Fusce scelerisque justo leo, sit amet rhoncus leo finibus dictum. Aliquam eget placerat nunc.</p>

<h3 class="title3">stretch</h3>

<p class="text--stretch">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor nunc elit. Sed ut euismod sem, congue blandit odio. Curabitur enim eros, imperdiet aliquam maximus non, luctus a diam. Suspendisse eleifend lectus metus. Morbi maximus eget sem a laoreet. Proin a nibh nec dolor vulputate auctor sit amet ut erat. Fusce scelerisque justo leo, sit amet rhoncus leo finibus dictum. Aliquam eget placerat nunc.</p>

<h3 class="title3">single</h3>

<p class="text--single">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor nunc elit. Sed ut euismod sem, congue blandit odio. Curabitur enim eros, imperdiet aliquam maximus non, luctus a diam. Suspendisse eleifend lectus metus. Morbi maximus eget sem a laoreet. Proin a nibh nec dolor vulputate auctor sit amet ut erat. Fusce scelerisque justo leo, sit amet rhoncus leo finibus dictum. Aliquam eget placerat nunc.</p>
