@import '../../../styles/require';

.page-title {
   color: egeo-get-color(n9);
   font-family: egeo-get-font(brandon-grotesque);
   font-size: egeo-get-font-size(head_xxxlarge);
   font-weight: egeo-get-font-weight(normal);
   margin-bottom: 10px;
   text-transform: uppercase;

   &::after {
      border-bottom: 2px solid;
      border-color: egeo-get-color(a2);
      content: ' ';
      display: block;
      height: 10px;
      width: 100%;
  }
}

main {
   color: egeo-get-color(n8);
   font-size: egeo-get-font-size(body_large);
   line-height: 1.5em;
}

ul {
   list-style: none;
   padding: 0 0 15px 25px;
}

li {
   &:before {
      content: '-';
      margin-right: .5em;
  }
}

p {
   color: egeo-get-color(n7);
   font-size: egeo-get-font-size(body_large);
   padding: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 30px 0 25px;
}

em {
   color: egeo-get-color(a1);
   font-style: italic;
}

$brandon: egeo-get-font(brandon-grotesque) !default;
$opensans: egeo-get-font(open-sans) !default;
$opensans-normal-font-weight: egeo-get-font-weight(normal) !default;
$titles-color: egeo-get-color(n6) !default;
$text-color: egeo-get-color(n8) !default;

$header---font-weight: egeo-get-font-weight(normal) !default;
$header---font-size: egeo-get-font-size(head_xxlarge) !default;
$header-underline: 1px solid $titles-color;

$description---font-size: egeo-get-font-size(body_large) !default;
$secundary-text-size: egeo-get-font-size(body_small) !default;

.title {
   font-family: $brandon;
   font-size: $header---font-size;
   font-weight: $header---font-weight;
   color: $titles-color;
   margin-bottom: 10px;

   &::after {
      border-bottom: 1px solid;
      border-color: egeo-get-color(a1);
      content: ' ';
      display: block;
      height: 15px;
      width: 120px;
   }
}

.title3 {
   color: egeo-get-color(n7);
}

.subtitle {
   font-family: $opensans;
   font-size: egeo-get-font-size(head_xxxlarge);
   font-weight: $opensans-normal-font-weight;
   color: $titles-color;
   margin-bottom: 10px;
   letter-spacing: -1px;
}

.page-content-wrapper p,
.page-content-wrapper ul,
.description,
.table-cell,
.table-th {
   font-size: $description---font-size;
}

.description {
   font-family: $opensans;
   font-weight: $opensans-normal-font-weight;
   color: $text-color;
   margin: 10px 0 21px 0;
}

.secondary-text {
   font-family: $opensans;
   font-size: $secundary-text-size;
   font-weight: $opensans-normal-font-weight;
   color: $text-color;
   margin: 10px 0;
}

.example {
   margin: 20px 0;
}

.brandon {
   font-family: $brandon;
}

$headFontSizes: (head_giant, head_xxxlarge, head_xxlarge, head_xlarge, head_large, head_medium, head_small, head_xsmall, head_xxsmall, head_xxxsmall, head_mini);
$bodyFontSizes: (body_xxxlarge, body_xxlarge, body_xlarge, body_large, body_medium, body_small, body_xsmall, body_xxsmall, body_xxxsmall);
$iconFontSizes: (icon_xxlarge, icon_xlarge, icon_large, icon_medium, icon_small, icon_xsmall, icon_xxsmall, icon_xxxsmall);
$fontWeights: (bolder, bold, semibold, normal, light);
$lineHeights: (double, normal, stretch, single);

.text {
   @each $size in $headFontSizes {
      &--#{$size} {
         font-size: egeo-get-font-size($size);
      }
   }

   @each $size in $bodyFontSizes {
      &--#{$size} {
         font-size: egeo-get-font-size($size);
      }
   }

   @each $size in $iconFontSizes {
      &--#{$size} {
         font-size: egeo-get-font-size($size);
      }
   }

   @each $weight in $fontWeights {
      &--#{$weight} {
         font-weight: egeo-get-font-weight($weight);
      }
   }

   @each $lineHeight in $lineHeights {
      &--#{$lineHeight} {
         line-height: egeo-get-line-height($lineHeight);
      }
   }
}

.open-sans {
   font-family: $opensans;
}

.ellipsis-pane {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.table {
   &-th {
      border-bottom: 1px solid;
      font-weight: bold;
      padding: .5rem 0;
   }

   &-row {
      padding: .5rem 0;
   }

   &-cell {
      align-self: center;
      padding: 0 .5rem;
   }
}
