@import '~ui-base/utils/typography';
@import '~ui-base/utils/colors';

$this: 'st-button';

$st-button---height: 35px !default;

%rect-button {
   min-width: 150px;
   padding: 3px 20px 0;
}

%round-button {
   align-items: center;
   border-radius: 100%;
   display: inline-flex;
   justify-content: center;
   min-width: 0;
   outline: none;
   padding: 7px 1px;
   width: $st-button---height;

   .#{$this}__text {
      display: none;
   }
}

.#{$this} {
   box-sizing: border-box;
   cursor: pointer;
   font-family: egeo-get-font(brandon-grotesque);
   font-size: egeo-get-font-size(body_medium);
   height: $st-button---height;
   line-height: 1.5;
   outline: none;

   &__icon + &__text,
   &__text + &__icon {
      margin: 0 0 0 4px;
   }

   &[disabled] {
      opacity: .2;
      cursor: auto;
   }

   &:not([disabled]):active {
      box-shadow: 0 0 0 2px rgba(55,181,228,1);
   }

   &--btnMain {
      @extend %rect-button;

      text-transform: uppercase;

      &-default,
      &-subtype1 {
         background-color: egeo-get-color(a1);
         color: egeo-get-color(n0);      

         &:not([disabled]):hover {
            background-color: egeo-get-color(a1_dark);
         }
      }

      &-subtype2 {
         background-color: egeo-get-color(a2);
         color: egeo-get-color(n0);      

         &:not([disabled]):hover {
            background-color: egeo-get-color(a2_dark);
         }
      }

      &-subtype3 {
         background-color: egeo-get-color(a3);
         color: egeo-get-color(n0);      

         &:not([disabled]):hover {
            background-color: egeo-get-color(a3_dark);
         }
      }
   
      &-subtype4 {
         background-color: transparent;
         border: 3px solid egeo-get-color(n4);
         color: egeo-get-color(n6);
         text-transform: uppercase;

         &:not([disabled]):hover {
            border-color: egeo-get-color(n6);
            color: egeo-get-color(n7);
         }

         &:not([disabled]):active {
            background-color: egeo-get-color(n0);
         }
      }
   }

   &--btnLink {
      @extend %rect-button;

      background-color: transparent;
      font-family: egeo-get-font(open-sans);
      font-size: egeo-get-font-size(body_large);

      .#{$this}__icon + .#{$this}__text,
      .#{$this}__text + .#{$this}__icon {
         margin: 0 0 0 2px;
      }

      &-default,
      &-subtype1 {
         color: egeo-get-color(a1);

         &:not([disabled]):hover {
            background-color: egeo-get-color(n2);
         }
      }

      &-subtype2 {
         color: egeo-get-color(n7);

         &:not([disabled]):hover {
            background-color: egeo-get-color(n2);
         }
      }
   }

   &--btnTool {
      @extend %round-button;

      font-size: egeo-get-font-size(icon_xsmall);
   
      .#{$this}__icon + .#{$this}__text,
      .#{$this}__text + .#{$this}__icon {
         margin: 0;
      }

      &-default,
      &-subtype1 {
         background-color: egeo-get-color(n2);
         color: egeo-get-color(a1);

         &:not([disabled]):hover {
            background-color: egeo-get-color(a1_light);
            color: egeo-get-color(n0);
         }

      }

      &-subtype2 {
         background-color: egeo-get-color(n2);
         color: egeo-get-color(n5);

         &:not([disabled]):hover {
            background-color: egeo-get-color(a2_dark);
            color: egeo-get-color(n0);
         }
      }

      &-subtype3 {
         background-color: egeo-get-color(n2);
         color: egeo-get-color(a3);

         &:not([disabled]):hover {
            background-color: egeo-get-color(a3_dark);
            color: egeo-get-color(n0);
         }
      }

      &-subtype4 {
         background-color: transparent;
         border: 3px solid egeo-get-color(n4);
         color: egeo-get-color(n6);

         &:not([disabled]):hover {
            border-color: egeo-get-color(n6);
            color: egeo-get-color(n7);
         }

         &:not([disabled]):active {
            background-color: egeo-get-color(n0);
         }
      }
   }

   &--themeB {
      &.#{$this}--btnTool {
         &-default,
         &-subtype1,
         &-subtype2,
         &-subtype3 {
            background-color: egeo-get-color(n0);
         }
      }

      &.#{$this}--btnLink {
         &-default,
         &-subtype1,
         &-subtype2 {
            &:not([disabled]):hover {
               background-color: egeo-get-color(n3);
            }
         }
      }
   }
}
