
<st-api-doc [doc]="apiDoc">
   <div class="example-model">
      <st-load-code file="toggle-buttons/example-code/toggle-buttons.model.ts.txt"></st-load-code>
   </div>
   <div class="example-run">
      <st-toggle-buttons class="toggle-buttons" [tabs]="tabs" [description]="description" (select)="onSelectTab($event)" qaTag="toggle-buttons"></st-toggle-buttons>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="toggle-buttons/example-code/toggle-buttons.ts.txt"></st-load-code>
      <st-load-code file="toggle-buttons/example-code/toggle-buttons.html.txt"></st-load-code>
   </div>
</st-api-doc>
