<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-liquid">
         <st-button [text]="loading ? 'Set loading var to false' : 'Set loading var to true'" (onClick)="changeLoading()"></st-button>
         <div class="loading-content" *ngIf="loading == true">
            <st-spinner imageUrl="assets/images/loading_spinner.gif"></st-spinner>
         </div>
         <div class="content" *ngIf="loading == false">
            <h1>Content has been loaded!!</h1>
         </div>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="spinner/example-code/spinner.ts.txt"></st-load-code>
      <st-load-code file="spinner/example-code/spinner.html.txt"></st-load-code>
   </div>
</st-api-doc>
