@import '../../node_modules/egeo-ui-base/utils/typography';
@import '../../node_modules/egeo-ui-base/utils/colors';

$tooltip-content--span---width: 240px !default;
$tooltip-content--span---font-size: egeo-get-font-size(body_xxsmall) !default;
$tooltip-content--span---color: egeo-get-color(n7) !default;
$tooltip-content--span---background: egeo-get-color(n0) !default;
$tooltip-content--span---border: 1px solid egeo-get-color(n4) !default;
$tooltip-content--span---padding: 6px !default;
$tooltip-content--span---line-height: 20px !default;
$tooltip-content--span---text-align: left !default;
$tooltip-content--span---border-radius: 0 !default;
$tooltip-content--span---box-shadow: 0 3px 2px 0 rgba(1, 1, 1, .07) !default;
$tooltip-content--span-before---margin-left: -12px !default;
$tooltip-content--span-before---border-top: 6px solid egeo-get-color(n4) !default;
$tooltip-content--span-before---border-right: 6px solid transparent !default;
$tooltip-content--span-before---border-left: 6px solid transparent !default;
$tooltip-content--span-after---margin-left: -11px !default;
$tooltip-content--span-after---border-top: 5px solid egeo-get-color(n0) !default;
$tooltip-content--span-after---border-right: 5px solid transparent !default;
$tooltip-content--span-after---border-left: 5px solid transparent !default;
$tooltip-content--hover---bottom: 25px !default;

span.tooltip-content {
  position: relative;
  display: inline;
  cursor: pointer;
  width: 100%;
  float: left;
}
span.tooltip-content span {
  position: absolute;
  width: 100%;
  max-width:$tooltip-content--span---width;
  font-size: $tooltip-content--span---font-size;
  color: $tooltip-content--span---color;
  background: $tooltip-content--span---background;
  border: $tooltip-content--span---border;
  padding: $tooltip-content--span---padding;
  line-height: $tooltip-content--span---line-height;
  text-align: $tooltip-content--span---text-align;
  visibility: hidden;
  border-radius: $tooltip-content--span---border-radius;
  box-shadow: $tooltip-content--span---box-shadow;
}
span.tooltip-content span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 12px;
  width: 0; height: 0;
  border-top: $tooltip-content--span-before---border-top;
  border-right: $tooltip-content--span-before---border-right;
  border-left: $tooltip-content--span-before---border-left;
}
span.tooltip-content span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 13px;
  width: 0; height: 0;
  border-top: $tooltip-content--span-after---border-top;
  border-right: $tooltip-content--span-after---border-right;
  border-left: $tooltip-content--span-after---border-left;
}

span:hover.tooltip-content.on-hover span,
span .tooltip-content.on-click span {
  visibility: visible;
  opacity: 1;
  bottom: $tooltip-content--hover---bottom;
  left: 0;
  z-index: 999;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
